---
layout: base.hbs
---
    <header class="wrapper presentation">
        <div class="container">
            <div class="catchphrase">
                    <i class="{{ icon }} catchphrase-icon pull-right"></i>
                    <h1 class="catchphrase-title">{{ title }}</h1>
                    <blockquote class="catchphrase-quote">{{ subtitle }}</blockquote>
            </div>
        </div>
    </header>


    <div class="main">
        <div class="container">
            <div class="main-top-header"></div>
            <ol class="breadcrumb">
                <li><a href="/">Accueil</a></li>
                <li class="active">{{ breadcrumbs }}</li>
            </ol>
            <main>
                {{> body }}
            </main>
        </div>
    </div>
