// Homepage, all wrappers
.home > .wrapper {
  padding: 40px 0;
  color: white;
}



// Presentation section
.home > .presentation {
  background: url("../images/banner.jpg") no-repeat center center;
}

@media (max-width: @grid-float-breakpoint) {
  .team-img, .innovation-block {
    margin: 15px auto;
    max-width: 500px;
  }
}

// Catchphrase
.catchphrase {
  padding: 25px 35px;
  background-color: @redC0;
  overflow: auto;
}
.catchphrase-text {
  font-size: 48px;
  line-height: 53px;
}
.catchphrase-pic {
  width: 281px; height: 132px;
  margin: 13px 0;
  background: url("../images/atom.png");
}


// Slogan
.slogan {
  padding: 0 35px;
  font-size: 28px;
  line-height: 55px;
  font-style: italic;
  background-color: @purple72;
}


// Offers
.offers {
  position: relative;
  text-align: center;

  .offer {
    > a:hover {
      text-decoration: none;
    }

    .offer-title {
      margin: 15px 0 0 0;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      color: white;
    }

    .offer-pic {
      margin: 30px auto 0 auto;
      font-size: 101px;
      color: white;
      width: 101px; height: 101px;

      &:hover { text-decoration: none; }
    }

    .offer-description {
      margin: 10px 0 0 0;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      color: white;
    }
  }
}



// Innovation section
.home> .innovation {
  color: purple;
}

.innovation-description {
  margin: 15px 0 0 0;
  font-weight: lighter;
}

.innovation-title {
  margin-top: 0;
}

.innovation-projects {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-top: 15px;
}
.innovation-project {
  display: inline-block;
  text-decoration: none;

  &:first-child { float: left; }
  &:last-child { float: right; }

  > img {
    vertical-align: bottom;
  }
}



// References section
.home > .lt-references {
  background-color: @lightGrey;
  color: purple;
}

.references {
  margin: 20px 0 0 0;
}
.reference {
  display: inline-block;
  margin: 0 0 0 30px;
}



// Contact section
.home > .contact {
  background-color: @purple72;
  color: #ffffff;

  h2 {
    font-size: 48px;
    text-align: center;
    color: #ffffff;
  }

  label {
    font-weight: normal;
  }

  .form-control {
    border-color: @purple56;
    font-size: @font-size-small;

    &:focus {
        border-color: @purple56;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  .contact-message {
    margin-top: 25px;
  }

  .contact-form {
    margin-top: 50px;
  }
}



// Contact submit button
@submitWidth: 281px;
@submitHeight: 56px;

.contact-submit-wrapper {
  position: relative;
  width: @submitWidth;
  height: @submitHeight;
  margin: 50px auto 0 auto;
  text-align: center;
}
.contact-submit-pic {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.contact-submit {
  position: absolute;
  left: 0;
  top: 0;
  width: @submitWidth;
  height: @submitHeight;
  font-size: 0;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: rgba(255,255,255,0);

  -webkit-transition: color 0.3s 0.1s, background-color 0.3s 0.1s;
  -moz-transition: color 0.3s 0.1s, background-color 0.3s 0.1s;
  -ms-transition: color 0.3s 0.1s, background-color 0.3s 0.1s;
  transition: color 0.3s 0.1s, background-color 0.3s 0.1s;

  &:hover {
    color: @purple72;
    background-color: rgba(255,255,255,1);
  }
}
.contact-submit-label {
  margin: 0 0 0 15px;
  line-height: 56px;
  font-size: 21px;
  text-transform: uppercase;
  vertical-align: middle;
}
