@import "utils/commons";
@import "utils/reset";

@import "components/header";
@import "components/footer";


.lt-pres-wrapper {
  padding: 30px 0;
  background: url("../images/bin/banner.jpg") no-repeat center center;
}

.lt-container {
  width: @bodyWidth;
  margin: 0 auto;
}

.lt-catchphrase {
  display: block;
}
.lt-catchphrase-wrapper {
  padding: 26px 37px;
  background-color: @redC0;
  overflow: auto;
}
.lt-catchphrase-text {
  float: left;
  font-size: 48px;
  line-height: 53px;
  color: #ffffff;
}
.lt-catchphrase-pic {
  float: right;
  width: 281px; height: 132px;
  margin: 13px 0;
  background: url("../images/bin/atom.png");
}

.lt-slogan {
  text-align: center;
  font-size: 28px;
  line-height: 55px;
  font-style: italic;
  color: white;
  background-color: @purple72;
}

.lt-offers {
  position: relative;
  text-align: center;
}
.lt-offer-link:hover { text-decoration: none; }
.lt-offer-pic {
  margin: 30px auto 0 auto;
  font-size: 101px;
  color: white;
  width: 101px; height: 101px;

  &:hover { text-decoration: none; }
}
.lt-offer-title {
  margin: 15px 0 0 0;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: white;
}
.lt-offer-description {
  margin: 10px 0 0 0;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.lt-studio {
  position: absolute;
  left: 20%; top: 0;
  margin-left: -68px;
}
.lt-training {
  display: inline-block;
}
.lt-swat {
  position: absolute;
  left: 80%; top: 0;
  margin-left: -73px;
}

.lt-innovation-wrapper {
  padding: 30px 0;
  .lt-container {
    position: relative;
    font-size: 0;
  }
}
.lt-team-pic {
  display: inline-block;
//  width: 500px; height: 281px;
  width: 50%;
  height: 281px; // PROVISOIRE
  background-color: grey;
}
.lt-innovation {
  position: absolute;
  left: 50%; top: 0;
  height: 100%;
  margin: 0 0 0 30px;
}
.lt-innovation-title {
  font-size: 36px;
  color: purple;
  font-weight: lighter;
}
.lt-innovation-description {
  margin: 15px 0 0 0;
  font-size: 16px;
  font-weight: lighter;
  color: purple;
}
.lt-innovation-projects {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0;
  text-align: center;
}
.lt-innovation-project-wrapper {
  display: inline-block;
  text-decoration: none;

  &:first-child { float: left; }
  &:last-child { float: right; }
}
.lt-innovation-project {
  width: 110px; height: 45px;
  background-color: grey;
}

.lt-references-title {
  margin: 45px 0 0 0;
  font-size: 26px;
  color: purple;
}
.lt-references {
  margin: 20px 0 0 0;
}
.lt-reference-wrapper {
  display: inline-block;
  margin: 0 0 0 30px;
}
.lt-reference {
  width: 129px; height: 76px;
  background-color: grey;
}

.lt-contact-wrapper {
  padding: 50px 0 50px 0;
  background-color: @purple72;
  color: #ffffff;
}
.lt-contact-title {
  text-align: center;
  font-size: 48px;
}
.lt-contact-form {
  margin: 50px 0 0 0;
  font-size: 0;
}
.lt-contact-input-inline {
  display: inline-block;
  margin:  0 0 0 92px;

  &:first-child { margin: 0; }
}
.lt-contact-label {
  display: inline-block;
  font-size: 16px;
  margin: 0 0 10px 0;
}
.lt-contact-text-input {
  display: block;
  width: 263px; height: 30px;
  font-size: 13px;
  border: 1px solid @purple56;
  border-radius: 4px;
  color: black;
}
.lt-contact-msg {
  margin: 40px 0 0 0;
}
.lt-contact-textarea {
  width: 974px; height: 112px;
  font-size: 13px;
  border: 1px solid @purple56;
  border-radius: 4px;
  color: black;
}
@submitWidth: 281px;
@submitHeight: 56px;
.lt-contact-submit-wrapper {
  position: relative;
  width: @submitWidth; height: @submitHeight;
  margin: 50px auto 0 auto;
  text-align: center;
}
.lt-contact-submit-pic {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
}
.lt-contact-submit {
  position: absolute;
  left: 0; top: 0;
  width: @submitWidth; height: @submitHeight;
  font-size: 0;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: rgba(255,255,255,0);

  -webkit-transition: color 0.3s 0.1s, background-color 0.3s 0.1s;
  -moz-transition: color 0.3s 0.1s, background-color 0.3s 0.1s;
  -ms-transition: color 0.3s 0.1s, background-color 0.3s 0.1s;
  transition: color 0.3s 0.1s, background-color 0.3s 0.1s;

  &:hover {
    color: @purple72;
    background-color: rgba(255,255,255,1);
  }
}
.lt-contact-submit-label {
  margin: 0 0 0 15px;
  line-height: 56px;
  font-size: 21px;
  text-transform: uppercase;
  vertical-align: middle;
}
