/* --------------------------------
    Training
-------------------------------- */

/* --------------------------------
    Section in
    training page
-------------------------------- */
.training-section {
  margin-bottom: @grid-gutter-width;

  .section-title {
    color: white;
    border-bottom: 1px solid @purple56;
    padding-bottom: 2px;
    font-size: ceil((@font-size-base * 1.25));

    .title-text {
      background-color: @purple56;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}


/* --------------------------------
    Information bloc
    on the right of the
    training page
-------------------------------- */
.training-info {
  text-align: center;

  .info-title {
    margin-bottom: 2px;
  }

  .price-tag {
    font-size: @font-size-large;
    .price {
      font-size: @font-size-h3;
      font-weight: bold;
    }
  }

  .duration {
    font-size: @font-size-h3;
    font-weight: bold;
  }

  hr {
    background: rgba(0, 0, 0, 0.25);
    height: 1px;
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .person {
    margin-top: 20px;
    margin-bottom: 20px;

    .person-picture {
      border: 5px solid #fff;
      height: 80px;
      width: 80px;
    }

    .person-title {
      font-size: @font-size-large;
      margin-top: 2px;
    }
  }

  .training-picture {
    margin-top: -85px;
  }
}

.training-picture {
  .rounded;
  height: 120px;
  width: 120px;
  background-color: white;
}

.agenda {
  .agenda-day {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
