@import "../utils/commons";

@import "../utils/reset";

@import "../utils/pictos";

@import "../components/header";


.pres-wrapper {
  padding: 30px 0;
  background: no-repeat grey;
}

.lt-catchphrase {
  display: block;
  width: @bodyWidth;
  margin: 0 auto 0 auto;
}

.lt-catchphrase-wrapper {
  padding: 20px;
  background-color: red;
  overflow: auto;
}

.lt-catchphrase-text {
  float: left;
  font-size: 20px;
  line-height: 25px;
}

.lt-catchphrase-pic {
  float: right;
  width: 50px; height: 50px;
  margin: 12px 0;
  background: grey;
}
