@import "../utils/commons";

@import "../utils/reset";

@import "../utils/pictos";

@import "../components/header";


.lt-pres-wrapper {
  padding: 30px 0;
  background: no-repeat grey;
}

.lt-container {
  width: @bodyWidth;
  margin: 0 auto;
}

.lt-catchphrase {
  display: block;
}
.lt-catchphrase-wrapper {
  padding: 26px 42px;
  background-color: red;
  overflow: auto;
}
.lt-catchphrase-text {
  float: left;
  font-size: 45px;
  line-height: 53px;
  color: #ffffff;
}
.lt-catchphrase-pic {
  float: right;
  width: 281px; height: 132px;
  margin: 13px 0;
  background: grey;
}

.lt-slogan {
  text-align: center;
  font-size: 28px;
  line-height: 55px;
  font-style: italic;
  color: white;
  background-color: purple;
}

.lt-offers {
  position: relative;
  text-align: center;
}
.lt-offer-pic {
  margin: 30px auto 0 auto;
  background-color: green;
  width: 101px; height: 101px;
}
.lt-offer-title {
  margin: 15px 0 0 0;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: white;
}
.lt-offer-description {
  margin: 10px 0 0 0;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.lt-studio {
  position: absolute;
  left: 20%; top: 0;
  margin-left: -68px;
}
.lt-training {
  display: inline-block;
}
.lt-swat {
  position: absolute;
  left: 80%; top: 0;
  margin-left: -73px;
}
