@menuHeight: 40px;

// Footer style
.page-footer {
  padding: 25px 0;
  background-color: @redC0;
  color: #fff;

  a {
    font-weight: bold;
    color: white;
    opacity: 0.7;

    &:hover {
      color: white;
      text-decoration: none;
      opacity: 0.9;
    }

    -webkit-transition: opacity 0.3s 0.1s;
    -moz-transition: opacity 0.3s 0.1s;
    -ms-transition: opacity 0.3s 0.1s;
    transition: opacity 0.3s 0.1s;
  }

  .footer-menu {
    float: left;
    font-size: 0;
    padding-left: 0;
  }

  .footer-menu-item {
    display: inline-block;
    height: @menuHeight;
    line-height: @menuHeight;
    margin: 0 0 0 40px;
    vertical-align: middle;

    &:first-child { margin: 0; }

    a {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .logo {
    width: 108px; height: @menuHeight;

    img {
      display: block;
      width: 108px; height: @menuHeight;
    }
  }
}



// Social icons + menu
.social-icons {
  font-size: 0;
}

.social-icon {
  display: inline-block;
  margin: 0 0 0 11px;
  border-radius: 50%;

  a {
    font-size: 32px;
    line-height: @menuHeight;
    font-weight: normal;
  }
}


.copyright {
  margin: 20px 0 0 0;
  opacity: 0.6;
}
