---
layout: page.hbs
title: Oups! (404)
icon: fa fa-times
subtitle: Désolé, la page que vous avez demandé n'existe pas :(
---
    <h2>Hey, il se peut que vous soyez perdu.</h2>
    <p><strong>Pas de panique</strong>, vous pouvez utiliser le formulaire de recherche pour retrouver le contenu qui vous intéresse.</p>
    <p>Sinon appuyez simplement sur le bouton page précédente de votre navigateur :)</p>

    <script>
        var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
    </script>
    <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
