---
layout: page.hbs
title: Blog
icon: fa fa-rss
breadcrumbs: Blog
subtitle: Retrouvez ici la liste des billets publiés par les membres de LT. Cliquez sur leur fil RSS si vous souhaitez vous abonner à l'un d'entre eux.
---
    <div class="row">
        <div class="col-md-9">
            <h2>Les derniers articles</h2>
            <table class="table table-striped">
                <tbody class="post_results" id="full_rss_version" data-rss-num="10">
                    <tr>
                        <td>
                            <div class="loading_rss">
                                <img alt="Loading..." src="img/ajax-loader.gif" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <aside class="col-md-3">
            <div class="sidebox">
                <h3>Les blogueurs</h3>
                <ul class="list-group">
                  <li class="list-group-item">
                    <img src="img/membres/hugo.jpg" height="48" width="48" class="img-circle" />
                    <a href="http://www.eventuallycoding.com/index.php/feed/" data-feed-src>Hugo Lassiège <i class="fa fa-rss"></i></a>
                  </li>
                  <li class="list-group-item">
                    <img src="img/membres/fbiville.jpg" height="48" width="48" class="img-circle" />
                    <a href="http://florent.biville.net/?feed/atom" data-feed-src>Florent Biville <i class="fa fa-rss"></i></a>
                  </li>
                  <li class="list-group-item">
                    <img src="img/membres/jblemee.jpeg" height="48" width="48" class="img-circle" />
                    <a href="http://www.java-freelance.fr/feed" data-feed-src>Jean-Baptiste Lemée <i class="fa fa-rss"></i></a>
                  </li>
                  <li class="list-group-item">
                    <img src="img/membres/ogirardot.jpg" height="48" width="48" class="img-circle" />
                    <a href="http://ogirardot.wordpress.com/feed/" data-feed-src>Olivier Girardot <i class="fa fa-rss"></i></a>
                  </li>
                </ul>
            </div>
        </aside>
    </div>
    <script type="text/javascript" data-main="js/main" src="js/require.js"></script>
