---
layout: page.hbs
title: Blog
icon: fa fa-rss
breadcrumbs: Blog
subtitle: Retrouvez ici la liste des billets publiés par les membres de LT.<br>Cliquez sur leur fil RSS si vous souhaitez vous abonner à l'un d'entre eux.
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Les derniers articles</h2>
            <table class="table table-striped">
                <tbody class="post_results" id="full_rss_version" data-rss-num="10">
                    <tr>
                        <td>
                            <div class="loading_rss">
                                <img alt="Loading..." src="images/ajax-loader.gif" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <aside class="col-md-4 col-lg-3">
            <div class="sidebox">
                <h3>Les blogueurs</h3>
                <ul class="list-group">
                  <li class="list-group-item blogger-item">
                    <img src="images/membres/hugo.jpg" class="member-picture-small rounded" />
                    <a href="http://www.eventuallycoding.com/index.php/feed/" class="blogger-item-name" data-feed-src>Hugo Lassiège <i class="fa fa-rss"></i></a>
                  </li>
                  <li class="list-group-item blogger-item">
                    <img src="images/membres/jblemee.jpeg" class="member-picture-small rounded" />
                    <a href="http://www.java-freelance.fr/feed" class="blogger-item-name" data-feed-src>Jean-Baptiste Lemée <i class="fa fa-rss"></i></a>
                  </li>
                  <li class="list-group-item blogger-item">
                    <img src="images/membres/ogirardot.jpg" class="member-picture-small rounded" />
                    <a href="http://ogirardot.wordpress.com/feed/" class="blogger-item-name" data-feed-src>Olivier Girardot <i class="fa fa-rss"></i></a>
                  </li>
                  <li class="list-group-item blogger-item">
                    <img src="images/membres/jonathandray.jpg" class="member-picture-small rounded" />
                    <a href="http://www.spicymoka.org/feeds/all.atom.xml" class="blogger-item-name" data-feed-src>Jonathan Dray <i class="fa fa-rss"></i></a>
                  </li>
                </ul>
            </div>
        </aside>
    </div>
