---
layout: formation.hbs
title: Formation TDD
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
name: TDD
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Formation : {{ name }}</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li>Comprendre les limites du TDD</li>
                    <li>Découvrir la notion de spécification exécutable</li>
                    <li>Comprendre le lien avec l'agilité, le TDD et le DDD</li>
                </ul>
            </div>


            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
                <p>Les participants vont apprendre et pratiquer.</p>
                <ul>
                    <li>50 % de théorie</li>
                    <li>25 % d'atelier sous forme de coding dojo</li>
                    <li>25 % d'atelier avec des exemples de VOTRE métier</li>
                </ul>
            </div>

            <div class="training-section agenda">
                <h3 class="section-title"><span class="title-text">Au programme</span></h3>
                <h4 class="agenda-title">Jour 1</h4>
                Test Unitaire<br>
                TDD

                <h4 class="agenda-title">Jour 2</h4>
                TDD with your examples<br>
                Pour aller plus loin...
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="images/formations/TDD.png" class="training-picture"/>
                <h3 class="info-title"">Prix</h3>
                <p><small>(inter entreprises)</small></p>
                <span class="price-tag"><span class="price">500€ HT</span> / jour / personne</span>

                <h3 class="info-title">Durée</h3>
                <p class="duration">1 ou 2 jours</p>

                <a href="#form-contact" class="btn btn-large btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Audience</h3>
                <p>Profils développeurs</p>
                <p>Tout développeur voulant progresser !</p>
                <hr>

                <h3 class="info-title">Pré-requis</h3>
                <p>Une connaissance des tests unitaires est un plus</p>
                <hr>

                <h3 class="info-title">Formateur</h3>
                <div class="person">
                    <img class="person-picture" src="images/membres/emilien.jpg">
                    <h2 class="person-title">Emilien Pecoul</h2>
                    <div class="person-share">
                        <a title="@Ouarzy" href="https://twitter.com/Ouarzy"><i class="fa fa-twitter"></i></a>
                        <a title="Ouarzy@github" href="https://github.com/Ouarzy"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
