---
layout: formation.hbs
title: Formation FPS Multijoueur - Intermédiaire
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
name: Unity3D
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Formation : FPS Multijoueur - Intermédiaire</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li>Comprendre les contraintes d'un jeu en réseau</li>
                    <li>Mise en place et pratique du jeu en réseau</li>
                    <li>Prototypage du niveau 3D</li>
                    <li>Introduction aux VFX avec les systèmes à particules</li>
                </ul>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
                <p>Les participants auront à leur disposition des assets permettant de produire un jeu de tir réseau dans Unity 3D</p>
                <ul>
                    <li>Jour 1 : présentation du réseau et de ses contraintes, début d'implémentation du serveur</li>
                    <li>Jour 2 : conception et implémentation du mouvement et tir du joueur</li>
                    <li>Jour 3 : prototypage de niveau, ajout de fx</li>
                </ul>
            </div>

            <div class="training-section agenda">
                <h3 class="section-title"><span class="title-text">Au programme</span></h3>
                <h4 class="agenda-title">Le réseau : Bolt Networking</h4>
                Principe de base du réseau<br/>
                Architecture client/serveur<br/>
                Transmission de données : syncronisation et RPC<br/>
                
                <h4 class="agenda-title">Mise en place de la base du réseau</h4>
                Création d'un structure de serveur pouvant accueillir des joueurs<br/>
                Synchonisation des données du match<br/>

                <h4 class="agenda-title">Création du gameplay</h4>
                Mouvement du joueur : synchronisation et interpolation client<br/>
                Système d'armes, gestion du tir, et des dégâts<br/>

                <h4 class="agenda-title">Création de niveau : ProCore 3D - Prototype</h4>
                Prototyper rapidement un niveau<br/>
                Itérer et améliorer le niveau<br/>

                <h4 class="agenda-title">Fun et fx : introduction à Shuriken</h4>
                Présentation de Shuriken (système de particules)<br/>
                Création d'un fx avec Shuriken<br/>
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="images/formations/Unity_Pri.png" class="training-picture"/>
                <h3 class="info-title"">Prix</h3>
                <p><small>(inter entreprises)</small></p>
                <span class="price-tag"><span class="price">1490€ HT</span> / personne</span>

                <h3 class="info-title">Durée</h3>
                <p class="duration">3 jours</p>

                <a href="#form-contact" class="btn btn-large btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Audience</h3>
                <p>Personnes approfondir leur connaissances en développement de jeu et s'initier au réseau</p>
                <p>Niveau: Intérmédiaire</p>
                <hr>

                <h3 class="info-title">Pré-requis</h3>
                <p>Connaissance basique de Unity 3D, base de la programmation C#</p>
                <hr>

                <h3 class="info-title">Formateurs</h3>
                <div class="person">
                    <img src="images/membres/fredericvauchelles.jpg" class="person-picture"/>
                    <h2 class="person-title">Frédéric Vauchelles</h2>
                    <div class="person-share">
                        <a href="https://twitter.com/fredpointzero" title="@fredpointzero"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/fredpointzero" title="fredpointzero@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
