---
layout: page.hbs
title: Formateurs
icon: fa fa-users
breadcrumbs: Formateurs
subtitle: Nos formations sont animées par des personnes du terrain qui se remettent à jour régulièrement
---
    <div class="row text-center">
        <div class="col-md-4 person">
            <img src="img/membres/liliansauvigne.jpg" class="person-picture" />
            <h2 class="person-title">Lilians Auvigne</h2>
            <p class="person-location">Paris</p>
            <div class="tags">
                <span class="label label-primary">java</span>
                <span class="label label-primary">qualité</span>
                <span class="label label-primary">bamboo</span>
                <span class="label label-primary">maven</span>
                <span class="label label-primary">déploiement continu</span>
                <span class="label label-primary">architecture</span>
                <span class="label label-primary">industrialisation</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>Lilians travaille depuis maintenant des années pour améliorer le confort des autres en mettant en place des outils qui leur permettent de gagner du temps. Il maitrise les API java sur le bout des doigts et s’est spécialisé sur l’automatisation des processus de build et de livraison.</p>
                <p>Il saura vous parler de Maven, Jenkins, Bamboo et tout un tas d’autres outils dont vous n’avez pas idée. Son crédo c’est la qualité et il connaît très bien l’écosystème Java pour y parvenir.</p>
            </div>
            <p class="person-share">
                <a href="https://www.twitter.com/lauvigne" title="@lauvigne"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/lauvigne" title="lauvigne@github"><i class="fa fa-github"></i></a>
            </p>
            <br>
        </div>

        <div class="col-md-4 person">
            <img src="img/membres/fbiville.jpg" class="person-picture" />
            <h2 class="person-title">Florent Biville</h2>
            <p class="person-location">Paris</p>
            <div class="tags">
                <span class="label label-primary">git</span>
                <span class="label label-primary">java</span>
                <span class="label label-primary">neo4j</span>
                <span class="label label-primary">spring</span>
                <span class="label label-primary">xp</span>
                <span class="label label-primary">javascript</span>
                <span class="label label-primary">nosql</span>
                <span class="label label-primary">rest</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>Ingénieur éclectique et passionné, Florent s'intéresse à beaucoup de sujets : que ce soit ce qui se passe au coeur de la JVM (invokedynamic, GC), au développement <em>backend</em> (certifié Java 6, utilisateur des JDK 7 &amp; 8, frameworks Spring, REST APIs...) comme <em>frontend</em> (Angular JS, Require JS, Jasmine). Il a à coeur de rendre les équipes où il travaille plus efficaces : que ce soit par l'organisation (XP), que par l'automatisation et le suivi des tâches effectuées (Maven, Grunt, Yeoman, Git, Liquibase, Flyway, Jenkins/Teamcity/Travis, Sonar).</p>
                <p>
                    De plus, quand il ne lit ou regarde pas des ressources dédiées à la programmation fonctionnelle (Clojure!),
                    Florent consacre une partie de son temps à démontrer les mérites de LA base de données graphe Neo4j et à co-organiser le WSUG (fork du Paris Spring User Group) ou contribuer à ses projets open-source (Spring Liquibase extensions, AssertJ-Neo4j).
                </p>
            </div>
            <p class="person-share">
                <a href="https://www.twitter.com/fbiville" title="@fbiville"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/fbiville" title="fbiville@github"><i class="fa fa-github"></i></a>
            </p>
            <br>
        </div>

        <div class="col-md-4 person">
            <img src="img/membres/cdelafargue.jpg" class="person-picture" />
            <h2 class="person-title">Clément Delafargue</h2>
            <p class="person-location">Paris</p>
            <div class="tags">
                <span class="label label-primary">scala</span>
                <span class="label label-primary">play</span>
                <span class="label label-primary">programmation fonctionnelle</span>
                <span class="label label-primary">noSQL</span>
                <span class="label label-primary">REST</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>
                Travaillant dans le web depuis 2002, Clément intervient à la fois sur les
                problématiques frontend et backend, sur de nombreuses technologies
                (Javascript (client et server-side), Ruby, Java, Scala) avec une
                attention particulière à la programmation fonctionnelle.</p>

                <p>En parallèle, il donne des cours à l’École Centrale de Nantes et à
                l’IMIE sur du développement (C, java, haskell, PHP, HTML/CSS, PL/SQL),
                    et il présente l’intégration continue et la programmation
                        fonctionnelle aux étudiants. Il a créé le Nantes Functional
                Programming Group et y anime des présentations.
                </p>
            </div>
            <p class="person-share">
                <a href="https://www.twitter.com/clementd" title="@clementd"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/divarvel" title="divarvel@github"><i class="fa fa-github"></i></a>
            </p>
            <br>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 person">
            <img src="img/membres/benoitdissert.jpg" class="person-picture" />
            <h2 class="person-title">Benoît Dissert</h2>
            <p class="person-location">Paris</p>
            <div class="tags">
                <span class="label label-primary">java</span>
                <span class="label label-primary">ged</span>
                <span class="label label-primary">jalios</span>
                <span class="label label-primary">javascript</span>
                <span class="label label-primary">web</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>Benoît a différentes casquettes. Il a bossé en tant que consultant puis développeur R&amp;D chez l’éditeur d’ECM Jalios. Il saura donc vous parler de gestion de documentations et d’intégration avec Jalios.</p>
                <p>Mais il s’est aussi fortement orienté sur les technologies sur le navigateur. Il saura vous parler des technologies client-side, Javascript en tête.</p>
            </div>
            <p class="person-share">
                <a href="https://www.twitter.com/bdissert" title="@bdissert"><i class="fa fa-twitter"></i></a>
            </p>
            <br>
        </div>

        <div class="col-md-4 person">
            <img src="img/membres/ogirardot.jpg" class="person-picture" />
            <h2 class="person-title">Olivier Girardot</h2>
            <p class="person-location">Paris</p>
            <div class="tags">
                <span class="label label-primary">python</span>
                <span class="label label-primary">cqrs</span>
                <span class="label label-primary">nosql</span>
                <span class="label label-primary">moteur de recherche</span>
                <span class="label label-primary">hautes performances</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
              <p>Olivier est développeur de métier spécialisé en Java/Python et dans le domaine de la Finance de marché depuis 3 ans.</p>
              <p>Il a travaillé pour de grands comptes de la Finance et aussi développé pour de nombreux projets OpenSource, aujourd’hui il participe à la construction de Lateral Thoughts pour aider à concilier innovation et productivité et permettre à chacun à son échelle de développer ses compétences tout en créant de la valeur.</p>
            </div>
            <p class="person-share">
                <a href="https://www.twitter.com/ogirardot" title="@ogirardot"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/ssaboum" title="ssaboum@github"><i class="fa fa-github"></i></a>
            </p>
            <br>
        </div>

        <div class="col-md-4 person">
            <img src="img/membres/hugo.jpg" class="person-picture"/>
            <h2 class="person-title">Hugo Lassiège</h2>
            <p class="person-location">Lyon</p>
            <div class="tags">
                <span class="label label-primary">java</span>
                <span class="label label-primary">nosql</span>
                <span class="label label-primary">javascript</span>
                <span class="label label-primary">web</span>
                <span class="label label-primary">play</span>
                <span class="label label-primary">déploiement continu</span>
                <span class="label label-primary">industrialisation</span>
                <span class="label label-primary">moteur de recherche</span>
                <span class="label label-primary">architecture</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>Avec plus de 10 ans d’expérience Hugo a eu la chance de bosser en startup, en SSII, chez un éditeur de logiciel, en freelance et même comme vacataire en IUT.</p>
                <p>Son parcours lui a permis de toucher à de multiples langages parmi lesquels C, C++, C#, Php, Python, Java et certains qu’il aimerait bien oublier.</p>
                <p>Passionné par la technique, il tient <a href="http://www.eventuallycoding.com">un blog sur la toile</a> et est aussi rédacteur sur developpez.com. Récemment il vient de sortir <a href="http://www.localizeyourapps.com">Localizeyourapps</a>.</p>
            </div>
            <div class="person-share">
                <a href="https://www.twitter.com/hugolassiege" title="@hugolassiege"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/hlassiege" title="hlassiege@github"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 person">
            <img src="img/membres/jblemee.jpeg" class="person-picture"/>
            <h2 class="person-title">Jean-Baptiste Lemée</h2>
            <p class="person-location">Paris</p>
            <div class="tags">
                <span class="label label-primary">java</span>
                <span class="label label-primary">rest</span>
                <span class="label label-primary">spring</span>
                <span class="label label-primary">moteur de recherche</span>
                <span class="label label-primary">nosql</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>Jean-Baptiste est développeur Java depuis plus de cinq ans. Concevoir et développer des logiciels est sa première passion, mais il est aussi recruteur, entrepreneur, commercial et libre-penseur.</p>
                <p>Il a participé à la création de Lateral Thoughts en  2011, dans l’espoir d’apporter des idées nouvelles dans le monde des  sociétés de services et de prouver qu’il était possible de faire à la fois du service et d’innover, que ce soit au niveau du management que des applicatifs.</p>
                <p>Jean-Baptiste essaie d’agir dans une dynamique gagnant-gagnant, pour les clients et pour les développeurs.</p>
            </div>
            <div class="person-share">
                <a href="https://www.twitter.com/jblemee" title="@jblemee"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/jblemee" title="jblemee@github"><i class="fa fa-github"></i></a>
            </div>
        </div>

        <div class="col-md-4 person">
            <img src="img/membres/josepaumard.jpg" class="person-picture"/>
            <h2 class="person-title">José Paumard</h2>
            <p class="person-location">Paris</p>
            <div class="tags">
                <span class="label label-primary">java expert</span>
                <span class="label label-primary">concurrence</span>
                <span class="label label-primary">parallélisme</span>
                <span class="label label-primary">base de données</span>
                <span class="label label-primary">jpa</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>Ingénieur et docteur en mathématiques appliquées de l’ENS de Cachan, José Paumard travaille depuis une quinzaine d’années sur tout type de projets Java, de la base de données à l’interface web.</p>
                <p>Maître de conférences, il est à l’origine avec deux autres personnes, de la création du DESS puis M2 « Application Internet &amp; Multimedia » à l’institut Galilée (université Paris 13), où il enseigne les technologies Java / Bases de données / Internet depuis 2000.</p>
                <p>Codirecteur du projet Achemenet.com depuis 1999, il développe depuis 2007 la plateforme open source Open melodie dans le cadre du projet Musée Achéménide, en collaboration avec le collège de France.</p>
            </div>
            <div class="person-share">
                <a href="https://www.twitter.com/JosePaumard" title="@JosePaumard"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/JosePaumard" title="JosePaumard@github"><i class="fa fa-github"></i></a>
            </div>
        </div>

        <div class="col-md-4 person">
            <img src="img/membres/ulrichvachon.jpg" class="person-picture"/>
            <h2 class="person-title">Ulrich Vachon</h2>
            <p class="person-location">Paris</p>
            <div class="tags">
                <span class="label label-primary">java</span>
                <span class="label label-primary">domain driven design</span>
                <span class="label label-primary">sécurité informatique</span>
                <span class="label label-primary">architecture</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>Principalement développeur Java, j’ai en outre une bonne expérience des projets Scrum. Je m’intéresse de plus en plus aux pratiques de développements, qui me permettent d’être efficace pour mon client, comme DDD.</p>
                <p>Toujours en veille technologique autour du développement, des architectures innovantes et la sécurité informatique.</p>
            </div>
            <div class="person-share">
                <a href="https://www.twitter.com/ulrich" title="@ulrich"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/ulrich" title="ulrich@github"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4 person">
            <img src="img/membres/yannickameur.jpg" class="person-picture"/>
            <h2 class="person-title">Yannick AMEUR</h2>
            <p class="person-location">Paris</p>
            <div class="tags">
                <span class="label label-primary">Scrum</span>
                <span class="label label-primary">XP</span>
                <span class="label label-primary">Kanban</span>
                <span class="label label-primary">Coching</span>
                <span class="label label-primary">BDD</span>
                <span class="label label-primary">ATDD</span>
                <span class="label label-primary">TDD</span>
                <span class="label label-primary">Lean</span>
                <span class="label label-primary">Agile Methodologies</span>
                <span class="label label-primary">Serious Games</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>Après plus de 7 ans de pratique de l'Agilité et plusieurs conférences national d'organisées (Agile France, Scrum Day, XP France), Yannick vous propose des formations sur l'Agilité adaptées à vos besoins (Méthodes, Atelier, Games)</p>
            </div>
            <div class="person-share">
                <a href="https://www.twitter.com/yannickameur" title="@yannickameur"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/yannickameur" title="yannickameur@github"><i class="fa fa-github"></i></a>
            </div>
        </div>

        <div class="col-md-4 person">
            <img src="img/membres/emilien.jpg" class="person-picture"/>
            <h2 class="person-title">Emilien Pecoul</h2>
            <p class="person-location">Lyon</p>
            <div class="tags">
                <span class="label label-primary">C#</span>
                <span class="label label-primary">XAML</span>
                <span class="label label-primary">.NET</span>
                <span class="label label-primary">Test Driven Development</span>
                <span class="label label-primary">Behaviour Driven Development</span>
                <span class="label label-primary">Domain Driven Design</span>
                <span class="label label-primary">Continuous Integration</span>
                <span class="label label-primary">Agilité</span>
            </div>
            <a href="#" class="bio-trigger" data-toggle="modal" data-target="#modal-bio">Bio</a>
            <div class="bio">
                <p>Evangéliste agile et des bonnes pratiques, Emilien souhaite surtout montrer que l'amélioration continue n'est pas juste une expression à la mode, mais une mentalité professionelle qui permet d'améliorer la qualité de son travail.</p>
                <p>Nottament à travers le TDD et le BDD qu'il pratique au quotidien, il aime accompagner le changement au sein des équipes de Développement qui souhaitent introduire de l'agilité dans leurs méthodes.</p>
            </div>
            <div class="person-share">
                <a href="https://www.twitter.com/Ouarzy" title="@Ouarzy"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/Ouarzy" title="Ouarzy@github"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>

    <!-- modal to display team member information -->
    <div aria-hidden="true" role="dialog" tabindex="-1" class="modal modal-bio fade" id="modal-bio">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <img src="" class="modal-image pull-right" />
                    <h2 class="modal-title"></h2>
                </div>
                <div class="modal-body">
                    <div class="bio medium">
                    </div>
                </div>
                <div class="modal-footer">
                    Insert footer here
                </div>
            </div>
        </div>
    </div>
