---
layout: formation.hbs
title: Formation Scrum par la pratique
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
name: Scrum par la pratique
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Formation : {{ name }}</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li>Comprendre l'Agilité par Scrum</li>
                    <li>les rôles et interactions</li>
                    <li>Participer et comprendre les projets en Agile</li>
                </ul>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
                <p>Les participants vont apprendre et pratiquer.</p>
                <ul>
                    <li>50 % de théorie</li>
                    <li>50 % d'atelier, Serious Games, travaux pratiques</li>
                </ul>
            </div>

            <div class="training-section agenda">
                <h3 class="section-title"><span class="title-text">Au programme</span></h3>
                <h4 class="agenda-title">Présentation générale de Scrum</h4>
                <h4 class="agenda-title">Définition des Rôles</h4>
                <h4 class="agenda-title">User Stories et critères d'Acceptation</h4>
                <h4 class="agenda-title">Gestion des priorités et Management Visuel</h4>
                <h4 class="agenda-title">Done et Done</h4>
                <h4 class="agenda-title">Les Cérémoniaux Scrum</h4>
                <h4 class="agenda-title">Enjeux et Jeux de communication</h4>
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="img/formations/scrum.png" class="training-picture"/>
                <h3 class="info-title"">Prix</h3>
                <p><small>(inter entreprises)</small></p>
                <span class="price-tag"><span class="price">1120€ HT</span> / personne</span>

                <h3 class="info-title">Durée</h3>
                <p class="duration">2 jours</p>

                <a href="#form-contact" class="btn btn-large btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Audience</h3>
                <p>Tous profils et tous métiers !</p>
                <hr>

                <h3 class="info-title">Formateur</h3>
                <div class="person">
                    <img src="img/membres/yannickameur.jpg" class="person-picture">
                    <h2 class="person-title">Yannick Ameur</h2>
                    <div class="person-share">
                        <a href="https://twitter.com/yannickameur" title="@yannickameur"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/yannickameur" title="yannickameur@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
