---
layout: page.hbs
title: Catalogue des formations
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
breadcrumbs: Catalogue des formations
---
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <h3>Java</h3>
            <ul class="list-unstyled">
                <li><a href="/beginner">Java débutant</a> <small>(3 jours)</small></li>
                <li><a href="/formation-intermediaire">Java intermédiaire</a> <small>(3 jours)</small></li>
                <li><a href="/handson-maven">Maven</a> <small>(1 jour)</small></li>
                <li><a href="/handson-springcore">Spring Core</a> <small>(1 jour)</small></li>
                <li><a href="/formation-softwarefactory">Usine logicielle</a> <small>(3 jours)</small></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-4">
            <h3>Qualité</h3>
            <ul class="list-unstyled">
                <li><a href="/formation-BDD">BDD by example</a> <small>(3 jours)</small></li>
                <li><a href="/handson-git">Git</a> <small>(1 jour)</small></li>
                <li><a href="/handson-liquibase">Liquibase</a> <small>(1 jour)</small></li>
                <li><a href="/formation-product-owner">Product Owner</a> <small>(3 jours)</small></li>
                <li><a href="/formation-scrum">Scrum par la pratique</a> <small>(3 jours)</small></li>
                <li><a href="/formation-TDD">TDD by example</a> <small>(3 jours)</small></li>
                <li><a href="/formation-softwarefactory">Usine logicielle</a> <small>(3 jours)</small></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-4">
            <h3>Gérer ses données</h3>
            <ul class="list-unstyled">
                <li><a href="/formation-mongodb">MongoDB</a> <small>(3 jours)</small></li>
                <li><a href="/formation-neo4j">Neo4j</a> <small>(3 jours)</small></li>
                <li><a href="/handson-neo4j">Neo4j</a> <small>(1 jour)</small></li>
                <li><a href="/handson-elasticsearch">ElasticSearch</a> <small>(1 jour)</small></li>
            </ul>
        </div>
    </div>
