---
layout: formation.hbs
title: Formation Product Owner
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
name: Product Owner
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Formation : {{ name }}</h2>
            <img src="images/formations/product-owner.jpg" width="700" height="300" class="img-polaroid"/>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li>Utilisation d'atelier pour définir le produit</li>
                    <li>Documentation "Juste In Time"</li>
                    <li>Gérer et Prioriser un projet Agile</li>
                    <li>Amélioration continu et autonomie</li>
                </ul>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
                <p>Les participants vont apprendre par la pratique.</p>
                <ul>
                    <li>25 % de théorie</li>
                    <li>75 % d'atelier, Serious Games, travaux pratiques</li>
                </ul>
            </div>

            <div class="training-section agenda">
                <h3 class="section-title"><span class="title-text">Au programme</span></h3>
                <h4 class="agenda-title">Product Owner dans Scrum</h4>
                <h4 class="agenda-title">Définition du Produit</h4>
                <h4 class="agenda-title">User Stories et critères d'Acceptation</h4>
                <h4 class="agenda-title">Gestion des priorités et Management Visuel</h4>
                <h4 class="agenda-title">Estimation Agile</h4>
                <h4 class="agenda-title">Gestion des risques</h4>
                <h4 class="agenda-title">Enjeux de la communication</h4>
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <h3 class="info-title"">Prix</h3>
                <p><small>(inter entreprises)</small></p>
                <span class="price-tag"><span class="price">1490€ HT</span> / personne</span>

                <h3 class="info-title">Durée</h3>
                <p class="duration">3 jours</p>

                <a href="#form-contact" class="btn btn-large btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Audience</h3>
                <p>Responsable de produit, MOA, responsable métier</p>
                <hr>

                <h3 class="info-title">Pré-requis</h3>
                <p>Une connaissance de Scrum est nécessaire.</p>
                <hr>

                <h3 class="info-title">Formateur</h3>
                <div class="person">
                    <img src="images/membres/yannickameur.jpg" class="person-picture">
                    <h2 class="person-title">Yannick Ameur</h2>
                    <div class="person-share">
                        <a href="https://twitter.com/yannickameur" title="@yannickameur"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/yannickameur" title="yannickameur@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
