---
layout: formation.hbs
title: Introduction à Ansible
icon: icon-lt_training
subtitle: Formation Ansible - Devops
name: Ansible
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Introduction à Ansible</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                A la fin de la journée les participants seront confortables avec :
                <ul>
                    <li>l'exécution de tâche d'administration ponctuelles courantes avec Ansible sur de multiples machines;</li>
                    <li>les différents modules mis à disposition par la librairie standard d'Ansible pour l'administration (interactions avec les packages manager, fichiers, services, base de données...);</li>
                    <li>la création de modules ré-utilisables et la gestion des dépendances entre ces modules;</li>
                    <li>la gestion des multiples environements avec Ansible (dev, qualif, pré-production, production);</li>
                    <li>la mise en place d'une démarche complète "Infrastructure as Code";</li>
                </ul>
                Les participants repartiront avec une démo complète locale (ou packagée) d'une machine virtuelle provisionnée avec Ansible et du code correspondant suivant les bonnes pratiques et pouvant servir de base pour monter un premier dépot au sein de son entreprise.
            </div>


            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
                <p>La session de formation complète (8 heures) requiert que les participants amènent un ordinateur portable avec accès wifi, avec Python 2.7 d'installé - Ansible - VirtualBox et Vagrant.<p>

                <p>La formation commencera le premier jour par la prise en main d'Ansible en commencant par les concepts théoriques, illustrés à chaque fois par des exercices hands-on en utilisant des machines virtuelles et une integration entre Ansible et Vagrant.</p>

                <p>L'après midi sera dédié à la prise en main plus en profondeur de l'API, la familiarisation avec la documentation officielle et surtout la mise en places des bonnes pratiques et de la modularisation dans Ansible - avec l'utilisation entre autre d'Ansible Galaxy. </p>

                <p>Le deuxième jour sera consacré à une mise en pratique sur un projet complet de provisionning/déploiement et aux sujets avancés liés à Ansible</p>

                <p>Dans sa globalité, la formation correspond à 40% de mise en pratique et 60% de théorie avec une emphase particulière sur comment progresser le plus rapidement possible après la formation.</p>
            </div>

            <div class="training-section agenda">
                <h3 class="section-title"><span class="title-text">Au programme</span></h3>
                <h4 class="agenda-title">Théorie et installation local</h4>

                <h4 class="agenda-title">API et Industrialisation</h4>
                
                <h4 class="agenda-title">Bonnes pratiques</h4>
                
                <h4 class="agenda-title">Extensions et eco-systèmes</h4>
                
                <h4 class="agenda-title">Projet complet - Hands on</h4>

                <h4 class="agenda-title">Sujets avancés</h4>

            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <!--<img src="images/formations/ansible-logo.png" class="training-picture"/>-->
                <h3 class="info-title"">Prix</h3>
                <p><small>(inter entreprises)</small></p>
                <span class="price-tag"><span class="price">600 HT</span> / personne</span>

                <h3 class="info-title">Durée</h3>
                <p class="duration">2 jours</p>

                <a href="#form-contact" class="btn btn-large btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Audience</h3>
                <p>C'est une formation orienté développeur et/ou administrateur.</p>
                <hr>

                <h3 class="info-title">Pré-requis</h3>
                <p>
                    Les participants devront être familié un minimum avec la gestion d'une machine Linux.
                </p>
                <hr>

                <h3 class="info-title">Formateur</h3>
                <div class="person">
                    <img src="images/membres/ogirardot.jpg" class="person-picture">
                    <h2 class="person-title">Olivier Girardot</h2>
                    <div class="person-share">
                        <a href="https://www.twitter.com/ogirardot" title="@ogirardot"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/ogirardot" title="ogirardot@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
