---
layout: formation.hbs
title: Introduction à Spark
icon: icon-lt_training
subtitle: Formation officielle <a href="http://www.databricks.com"><strong>Databricks</strong></a> unique en Europe
name: Apache Spark
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Introduction à Apache Spark</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                A la fin de la journée les participants seront confortables avec :
                <ul>
                    <li>l'ouverture d'un shell Spark en Scala ou Python;</li>
                    <li>l'utilisation de plusieurs algorithmes de machine learning distribué en pratique;</li>
                    <li>la construction/le déploiement d'un livrable JAR d'une application Spark en Java ou Scala;</li>
                    <li>l'exploration d'un jeu de données chargé depuis HDFS;</li>
                    <li>l'utilisation de Spark SQL, Spark Streaming, et MLLib;</li>
                    <li>la mobilisation des resources disponibles sur Apache Spark pour atteindre un objectif métier;</li>
                </ul>
                Les participants repartiront avec une démo complète locale (ou dans le cloud) d'une application Spark ainsi qu'avec les pistes nécessaires pour dépasser le cadre de ce cours d'introduction voire entammer les certifications Spark suivantes.
            </div>


            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
                <p>La session de formation complète (8 heures) requiert que les participants amènent un ordinateur portable avec accès wifi, le SDK Java 6/7 ou 8 et Python 2.7 d'installé. Il y a aura une utilisation limitée d'Amazon AWS, pour accèder au cluster AWS de l'intervenant, il sera donc nécessaire de pouvoir ouvrir une session SSH depuis l'ordinateur.<p>
 
                <p>La formation commencera le matin par couvrir l'installation et le paramètrage, quelques exercices hands-on, ainsi qu'un survol de l'API et un cours théorique sur Apache Spark. </p>
                
                <p>L'après midi sera dédié au développement logiciel, à l'industrialisation, aux demos, aux études de cas, ainsi qu'à l'étude des sujets avancés et des pistes pour la suite. </p>

                <p>Dans sa globalité, la formation correspond à 40% de mise en pratique et 60% de théorie avec une emphase particulière sur comment progresser le plus rapidement possible après la formation.</p>
            </div>

            <div class="training-section agenda">
                <h3 class="section-title"><span class="title-text">Au programme</span></h3>
                <h4 class="agenda-title">Théorie et installation local</h4>
                S'approprier les bases théoriques du système, avec un retour sur l'histoire du Big Data de Spark<br/>
                Installation local de Spark pour le prototypage rapide<br/>
                Introduction à l'écriture et l'execution de quelques exemples simples d'applications Spark

                <h4 class="agenda-title">API et Industrialisation</h4>
                Utiliser l'API core de Spark en Scala, Java, et Python<br/>
                Mise en place d'un cycle industriel de développement: build, déploiement et monitoring


                <h4 class="agenda-title">Déploiement de Spark</h4>
                Déploiement de Spark sur un cluster Big Data<br/>
                Comment diagnostiquer et debugger les problèmes d'une application Spark déployée.


                <h4 class="agenda-title">Extensions et eco-systèmes</h4>
                Combiner la puissance des outils Spark SQL, Machine Learning, et Streaming pour mettre en places des pipelines de données complets.<br/>
                Tooling: SBT, Maven, IPython Notebook, etc.


                <h4 class="agenda-title">Sujets avancés</h4>
                Etudes des sujets avancés et analyse de la stack complète <strong>BDAS</strong> (Berkeley Data Analytics Stack)<br/>
                Etudes de cas pour le déploiement en production<br/>
                Pistes pour continuer l'apprentissage de Spark

            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="img/formations/spark-logo.png" class="training-picture"/>
                <h3 class="info-title"">Prix</h3>
                <p><small>(inter entreprises)</small></p>
                <span class="price-tag"><span class="price">999 HT</span> / personne</span>

                <h3 class="info-title">Durée</h3>
                <p class="duration">1 jour</p>

                <a href="#form-contact" class="btn btn-large btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Audience</h3>
                <p>C'est une formation orienté développeur et non une formation administrateur.</p>
                <hr>

                <h3 class="info-title">Pré-requis</h3>
                <p>
                    Les participants devront être familié avec un des langages de programmation utilisé dans le cours: Java, Scala ou Python.
                </p>
                <hr>

                <h3 class="info-title">Formateur</h3>
                <div class="person">
                    <img src="img/membres/ogirardot.jpg" class="person-picture">
                    <h2 class="person-title">Olivier Girardot</h2>
                    <div class="person-share">
                        <a href="https://www.twitter.com/ogirardot" title="@ogirardot"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/ogirardot" title="ogirardot@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
