---
layout: formation.hbs
title: Formation Mongodb
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
name: Mongodb
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Formation : Mongodb</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li>Comprendre les cas d'usage qui s'applique à MongoDb</li>
                    <li>Requêter vos données</li>
                    <li>Concevoir un schéma de données orienté document et apprendre à vivre sans transaction ou contraintes relationnelles</li>
                    <li>Optimiser vos performances</li>
                    <li>Manipuler le framework d'aggrégation</li>
                </ul>
            </div>


            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
                <p>Les participants verront chaque notion puis pourront les mettre en pratique très rapidement via des exercices dont la difficulté augmentera graduellement.
                Chaque projet fera l’objet d’une itération de 2H :</p>
                <ul>
                    <li> 20 min de présentation de l’itération : présentation de l’exercice et des concepts à utiliser.</li>
                    <li> 1h 20 de pratique.</li>
                    <li> 20 min de rétrospective : présentation par les participants des difficultés rencontrées et de leur résolutions. </li>
                </ul>
                <p>La formation pourra s'effectuer en Python, en Java ou bien uniquement en Javascript via le mongoshell</p>
            </div>

            <div class="training-section agenda">
                <h3 class="section-title"><span class="title-text">Au programme</span></h3>
                <h4 class="agenda-title">Introduction a nosql et mongodb</h4>
                Nosql, pourquoi faire ? <br/>
                Panorama des solutions nosql<br/>
                Mongodb, une base de données orienté document<br/>

                <h4 class="agenda-title">Le requêtage sur Mongo</h4>
                mongoshell<br/>
                le bson<br/>
                les opérateurs de sélection<br/>
                les objets imbriqués<br/>
                la mise a jour<br/>
                les opérateurs de mise a jour<br/>
                les upserts<br/>
                la suppression<br/>

                <h4 class="agenda-title">Designer son modèle avec Mongodb</h4>
                les relations entre objets 1-1, 1-n et n-n<br/>
                savoir quand imbriquer un objet<br/>
                vivre sans contraintes d'intégrité<br/>
                vivre sans transactions<br/>

                <h4 class="agenda-title">Considérations sur les performances</h4>
                les index<br/>
                les index multi clés<br/>
                les sparse index<br/>
                déterminer son chemin d'execution : explain<br/>
                forcer un chemin d'execution (hint)<br/>
                log et profiling<br/>

                <h4 class="agenda-title">Le framework d'aggrégation</h4>
                le pipeline d'aggrégation<br/>
                faire le parralèle avec le monde relationnel<br/>
                group by<br/>
                sum, average, max, min<br/>
                la transformation<br/>
                les filtres ($match)<br/>
                les filtres bis ($limit et $skip)<br/>
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="images/formations/mongodb.png" class="training-picture"/>
                <h3 class="info-title"">Prix</h3>
                <p><small>(inter entreprises)</small></p>
                <span class="price-tag"><span class="price">990€ HT</span> / personne</span>

                <h3 class="info-title">Durée</h3>
                <p class="duration">2 jours</p>

                <a href="#form-contact" class="btn btn-large btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Audience</h3>
                <p>C'est une formation orienté développeur et non une formation administrateur.</p>
                <hr>

                <h3 class="info-title">Pré-requis</h3>
                <p>
                    Les participants devront connaitre le langage de programmation utilisé pour interroger Mongo : javascript, python ou java (en fonction des sessions).
                    Dans le cadre des formations intra, il pourra être préparé des supports pour d'autres langages.
                </p>
                <hr>

                <h3 class="info-title">Formateur</h3>
                <div class="person">
                    <img src="images/membres/hugo.jpg" class="person-picture">
                    <h2 class="person-title">Hugo Lassiège</h2>
                    <div class="person-share">
                        <a href="https://www.twitter.com/hugolassiege" title="@hugolassiege"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/hlassiege" title="hlassiege@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
