---
layout: formation.hbs
title: Formation Java intermédiaire
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
name: Java intermédiaire
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Formation : Java intermédiaire</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li>Comprendre les IOs</li>
                    <li>Dialoguer avec une base de données (JDBC)</li>
                    <li>Savoir lire et écrire du XML, du JSON</li>
                    <li>Mettre en oeuvre les bonnes pratiques de développement appliquées au language Java.</li>
                </ul>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
                <p>Les participants auront à compléter de petits projets (i.e. faire passer une série de tests unitaires existants).</p>
                <p>Chaque projet fera l’objet d’une itération de 2H :</p>
                <ul>
                    <li>20 min de présentation de l’itération : présentation de l’exercice et des concepts à utiliser.</li>
                    <li>1h20 de pratique.</li>
                    <li>20 min de rétrospective : présentation par les participants des difficultés rencontrés et de leur résolutions. </li>
                </ul>
            </div>

            <div class="training-section agenda">
                <h3 class="section-title"><span class="title-text">Au programme</span></h3>
                <h4 class="agenda-title">Bonnes pratiques et méthodes modernes</h4>
                Introduction à l’eXtreme Programming (TDD, Pair Programming) - JUnit<br/>
                Code lisible (auto documenté)<br/>
                Une classe = Une responsabilité<br/>
                Une méthode = une action.<br/>
                Refactoring : extraction de méthode, inlining de méthode.<br/>

                <h4 class="agenda-title">Comprendre les IOs</h4>
                Notions de flux textuel (Reader/Writer) et binaire (Streams)<br/>
                Hiérarchie des classes de java.io et notion d'adapter<br/>
                Ecriture et lecture d'un fichier texte sur disque avec BufferedReader et PrintWriter<br/>
                Notion de sérialisation, variables transientes<br/>

                <h4 class="agenda-title">Dialoguer avec une base de données (JDBC)</h4>
                Ouverture d'une connexion<br/>
                Effectuer une requête en écriture<br/>
                Effectuer une requête en lecture, notion de ResultSet<br/>
                Utiliser PreparedStatement<br/>
                Petit apercu de JPA<br/>

                <h4 class="agenda-title">Savoir lire et écrire du XML</h4>
                Parcourir et modifier un flux XML (Dom et Sax)<br/>
                Serialization / Désérialisation Xml (JAX-B)<br/>
                D'autres APIs...<br/>

                <h4 class="agenda-title">Savoir lire et écrire du Json</h4>
                Le format JSON<br/>
                String format<br/>
                Tour d'horizon des APIs existantes<br/>
                Jackson<br/>
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="img/formations/java.jpg" class="training-picture"/>
                <h3 class="info-title"">Prix</h3>
                <p><small>(inter entreprises)</small></p>
                <span class="price-tag"><span class="price">1490€ HT</span> / personne</span>

                <h3 class="info-title">Durée</h3>
                <p class="duration">3 jours</p>

                <a href="#form-contact" class="btn btn-large btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Audience</h3>
                <p>Intermédiaire</p>
                <hr>

                <h3 class="info-title">Pré-requis</h3>
                <p>Les concepts vu dans la formation java débutant doivent être acquis.</p>
                <hr>

                <h3 class="info-title">Formateurs</h3>
                <div class="row">
                <div class="col-md-6 person">
                    <img src="img/membres/hugo.jpg" class="person-picture">
                    <h2 class="person-title">Hugo Lassiège</h2>
                    <div class="person-share">
                        <a href="https://www.twitter.com/hugolassiege" title="@hugolassiege"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/hlassiege" title="hlassiege@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                <div class="col-md-6 person">
                    <img src="img/membres/jblemee.jpeg" class="person-picture">
                    <h2 class="person-title">Jean-Baptiste Lemée</h2>
                    <div class="person-share">
                        <a href="https://www.twitter.com/jblemee" title="@jblemee"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/jblemee" title="jblemee@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
                </div>
            </div>
        </aside>
    </div>
