---
layout: formation.hbs
title: Formation Neo4J
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
name: Neo4J
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Formation : {{ name }}</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li>Comprendre le modèle des bases de données graphe</li>
                    <li>Maîtriser les APIs unitaires (CRUD noeuds &amp; relations) et d'indexation [auto-indexation, indexation manuelle, indexation par label]</li>
                    <li>Savoir requêter de la donnée (traversées &amp; Cypher)</li>
                    <li>Importer des données (batch, Talend, Geoff)</li>
                    <li>Déployer Neo4j en mode serveur (API REST standard, unmanaged extensions)</li>
                    <li>Appréhender Spring Data</li>
                </ul>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Méthode pédagogique</span></h3>
                <p>Certaines itérations feront l'objet d'une démonstrations et de questions/réponses</p>
                <p>La plupart des sujets se découperont comme suit :</p>
                <ul>
                    <li>20 min de présentation de l’itération : présentation de l’exercice et des concepts à utiliser.</li>
                    <li>1h20 de pratique.</li>
                    <li>20 min de rétrospective : présentation par les participants des difficultés rencontrées et de leur résolutions. </li>
                </ul>
                <p>La formation s'effectuera en Java et en Javascript.</p>
            </div>

            <div class="training-section agenda">
                <h3 class="section-title"><span class="title-text">Au programme</span></h3>
                <h4 class="agenda-title">Notions élémentaires</h4>
                <ul>
                    <li>Présentation des graphes et bases de données graphes </li>
                    <li>Découverte des API unitaires
                        <ul>
                            <li>CRUD de noeuds</li>
                            <li>CRUD de relations</li>
                        </ul>
                    </li>
                    <li>Prise en main des différentes APIs d'indexation
                        <ul>
                            <li>indexation manuelle (legacy)</li>
                            <li>auto-indexation (legacy)</li>
                            <li>indexation par label</li>
                        </ul>
                    </li>

                    <li>Présentation d'exemples inspirés de <a href="http://www.neotechnology.com/customers/">cas réels</a>
                        <ul>
                            <li>catalogue d'un opérateur mobile</li>
                            <li>recommandations de contacts professionnels</li>
                            <li>réseau de transport ferroviaire</li>
                        </ul>
                    </li>
                </ul>

                <h4 class="agenda-title">Requêtage des données</h4>
                <ul>
                    <li>Exposition des différents algorithmes de traversée et utilisation avec Neo4j
                        <ul>
                            <li>Breadth-First Search</li>
                            <li>Depth-First Search</li>
                            <li>Framework de traversée Neo4J</li>
                        </ul>
                    </li>

                    <li>Découvrir Cypher
                        <ul>
                            <li>pattern matching sur graphe</li>
                            <li>syntaxe</li>
                            <li>plans d'exécution</li>
                        </ul>
                    </li>
                </ul>

                <h4 class="agenda-title">Exposition des données</h4>
                <ul>
                    <li>API REST standard
                        <ul>
                            <li>CRUD</li>
                            <li>indexation</li>
                            <li>exécution de requêtes Cypher</li>
                            <li>streaming des résultats</li>
                        </ul>
                    </li>
                    <li>Extension des APIS standards
                        <ul>
                            <li>unmanaged extensions</li>
                            <li>sécurisation des accès</li>
                        </ul>
                    </li>
                </ul>

                <h4 class="agenda-title">Mapping Graphe-Object avec Spring Data</h4>
                <ul>
                    <li>motivations et concepts derrière Spring Data</li>
                    <li>découverte des @NodeEntity, @RelationshipEntity et GraphRepository</li>
                    <li>indexation</li>
                    <li>requêtes Géospatiales</li>
                </ul>

                <h4 class="agenda-title">Import de données</h4>
                <ul>
                    <li>insertion en batch [BatchInserters]</li>
                    <li>utilisation du module d'import Talend</li>
                    <li>découverte de Geoff</li>
                </ul>

                <h4 class="agenda-title">Déploiement</h4>
                <p>Découverte des PAAS disponibles.</p>

                <h4 class="agenda-title">Visualisation de données</h4>
                <ul>
                    <li>Neoclipse, Gephi</li>
                    <li>Linkurious</li>
                    <li>Console Neo4J</li>
                    <li>visualisation custom [sigma.js]</li>
                </ul>
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="images/formations/neo4j.jpg" class="training-picture"/>
                <h3 class="info-title"">Prix</h3>
                <p><small>(inter entreprises)</small></p>
                <span class="price-tag"><span class="price">1490€ HT</span> / personne</span>

                <h3 class="info-title">Durée</h3>
                <p class="duration">3 jours</p>

                <a href="#form-contact" class="btn btn-large btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Audience</h3>
                <p>C'est une formation orientée développeurs et non une formation administrateurs.</p>
                <hr>

                <h3 class="info-title">Pré-requis</h3>
                <p>Les participants devront connaître le language Java.</p>
                <hr>

                <h3 class="info-title">Formateur</h3>
                <div class="person">
                    <img src="images/membres/fbiville.jpg" class="person-picture">
                    <h2 class="person-title">Florent Biville</h2>
                    <div class="person-share">
                        <a href="https://twitter.com/fbiville" title="@fbiville"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/fbiville/" title="fbiville@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
