---
layout: handson.hbs
title: Hands-On Git
icon: icon-lt_training
subtitle: Sans prétendre remplacer nos formations classiques, ces sessions conviviales de 3h vous permettent de vous mettre solidement le pied à l'étrier et de poser des questions aux animateurs.
name: Git
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Hands-On : {{ name }}</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li> Expliquer l'historique de Git</li>
                    <li> Comprendre ce qu'est un DVCS</li>
                    <li> Manipuler les commandes backend fondamentales</li>
                    <li> Utiliser les commandes frontend quotidiennes</li>
                    <li> Découvrir les outils annexes (tig, Github...)</li>
                </ul>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Pré-requis</span></h3>
                <p>La connaissance d'un gestionnaire de versions est un plus, l'aversion pour la ligne de commandes est un moins.</p>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Audience</span></h3>
                <p>Débutant</p>
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="images/formations/git.png" class="training-picture"/>
                <h3 class="info-title">Durée</h3>
                <p class="duration">3 heures</p>

                <h3 class="info-title">Prix</h3>
                <span class="price-tag"><span class="price">0€</span></span>
                <h5>(Dans le cadre d'évènements communautaires)</h5>
                <a href="#form-contact" class="btn btn-primary">Contactez nous</a>
                <br><br>

                <h5>Envie de voir cette session animée dans votre entreprise&nbsp;?</h5>
                <a href="#form-contact" class="btn btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Formateurs</h3>
                <div class="row text-center">
                    <div class="col-md-6 person">
                        <img src="images/membres/ogirardot.jpg" class="person-picture" />
                        <h2 class="person-title">Olivier Girardot</h2>
                        <p class="person-share">
                            <a href="https://www.twitter.com/ogirardot" title="@ogirardot"><i class="fa fa-twitter"></i></a>
                            <a href="https://github.com/ssaboum" title="ssaboum@github"><i class="fa fa-github"></i></a>
                        </p>
                    </div>
                    <div class="col-md-6 person">
                        <img src="images/membres/fbiville.jpg" class="person-picture">
                        <h2 class="person-title">Florent Biville</h2>
                        <div class="person-share">
                            <a href="https://twitter.com/fbiville" title="@fbiville"><i class="fa fa-twitter"></i></a>
                            <a href="https://github.com/fbiville/" title="fbiville@github"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
