---
layout: handson.hbs
title: Hands-On Scala
icon: icon-lt_training
subtitle: Sans prétendre remplacer nos formations classiques, ces sessions conviviales de 3h vous permettent de vous mettre solidement le pied à l'étrier et de poser des questions aux animateurs.
name: Functional programming in Scala
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Hands-On : {{ name }}</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li>Présentation de la programmation fonctionnelle en Scala.</li>
                    <li>Gérer les erreurs de manière pure sans utiliser les exceptions.</li>
                    <li>Utiliser les monades.</li>
                    <li>Modéliser de manière extensible en Scala à l'aide des classes de type.</li>
                </ul>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Pré-requis</span></h3>
                <p>Pouvoir lire et exécuter du code Scala.</p>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Audience</span></h3>
                <p>Débutant / Intermédiaire</p>
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="img/formations/scalalogo.svg" class="training-picture"/>
                <h3 class="info-title">Durée</h3>
                <p class="duration">3 heures</p>

                <h3 class="info-title">Prix</h3>
                <span class="price-tag"><span class="price">0€</span></span>
                <h5>(Dans le cadre d'évènements communautaires)</h5>
                <a href="#form-contact" class="btn btn-primary">Contactez nous</a>
                <br><br>

                <h5>Envie de voir cette session animée dans votre entreprise&nbsp;?</h5>
                <a href="#form-contact" class="btn btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Formateur</h3>
                <div class="person">
                    <img src="img/membres/nicolas_rey.jpg" class="person-picture"/>
                    <h2 class="person-title">Nicolas Rey</h2>
                    <p class="person-share">
                        <a href="https://www.twitter.com/Le_3K" title="@Le_3K"><i class="fa fa-twitter"></i></a>
                    </p>
                </div>
            </div>
        </aside>
    </div>
