---
layout: handson.hbs
title: Hands-On ElasticSearch
icon: icon-lt_training
subtitle: Sans prétendre remplacer nos formations classiques, ces sessions conviviales de 3h vous permettent de vous mettre solidement le pied à l'étrier et de poser des questions aux animateurs.
name: ElasticSearch
---
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <h2>Hands-On : {{ name }}</h2>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Objectifs</span></h3>
                <ul>
                    <li>Savoir indexer des documents</li>
                    <li>Utiliser le Query DSL simple</li>
                    <li>Quelques fonctionnalités avancées : tri, custom score, géolocalisation</li>
                </ul>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Pré-requis</span></h3>
                <p>Notions de REST et du format Json</p>
            </div>

            <div class="training-section">
                <h3 class="section-title"><span class="title-text">Audience</span></h3>
                <p>Débutant</p>
            </div>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="sidebox training-info">
                <img src="images/formations/elasticsearch.png" class="training-picture"/>
                <h3 class="info-title">Durée</h3>
                <p class="duration">3 heures</p>

                <h3 class="info-title">Prix</h3>
                <span class="price-tag"><span class="price">0€</span></span>
                <h5>(Dans le cadre d'évènements communautaires)</h5>
                <a href="#form-contact" class="btn btn-primary">Contactez nous</a>
                <br><br>

                <h5>Envie de voir cette session animée dans votre entreprise&nbsp;?</h5>
                <a href="#form-contact" class="btn btn-primary">Demander un devis</a>
                <hr>

                <h3 class="info-title">Formateur</h3>
                <div class="person">
                    <img src="images/membres/hugo.jpg" class="person-picture">
                    <h2 class="person-title">Hugo Lassiège</h2>
                    <div class="person-share">
                        <a href="https://www.twitter.com/hugolassiege" title="@hugolassiege"><i class="fa fa-twitter"></i></a>
                        <a href="https://github.com/hlassiege" title="hlassiege@github"><i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
