---
layout: page.hbs
type: projets
title: L'incubateur
icon: fa fa-flask
breadcrumbs: Projets
subtitle: Vous avez une idée ? Mais ni le temps ni les moyens de la mettre en œuvre ? Nous pouvons vous aider !
---
    <h2>Nos projets</h2>
    <em>ou plus exactement ceux de nos membres...</em>

    <ul class="gallery">
        <li>
            <ul class="gallery-item-wrapper">
                <li class="gallery-item-front"><a href="#0"><img src="img/thumb-4.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-middle"><a href="#0"><img src="img/thumb-2.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-back"><a href="#0"><img src="img/thumb-3.jpg" alt="BuildWall"></a></li>
            </ul> <!-- gallery-item-wrapper -->

            <div class="gallery-item-info">
                <h3 class="gallery-item-title"><a href="#0">Buildwall</a></h3>
                <p class="gallery-item-author">Jean-Baptiste Lemée</p>
            </div> <!-- gallery-item-info -->

            <nav>
                <ul class="gallery-item-navigation">
                    <li><a class="img-replace" href="#0">Prev</a></li>
                    <li><a class="img-replace" href="#0">Next</a></li>
                </ul>
            </nav>

            <a class="gallery-3d-trigger img-replace" href="#0">Open</a>
        </li>
        <li>
            <ul class="gallery-item-wrapper">
                <li class="gallery-item-front"><a href="#0"><img src="img/thumb-1.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-middle"><a href="#0"><img src="img/thumb-2.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-back"><a href="#0"><img src="img/thumb-3.jpg" alt="BuildWall"></a></li>
            </ul> <!-- gallery-item-wrapper -->

            <div class="gallery-item-info">
                <h3 class="gallery-item-title"><a href="#0">Hedona</a></h3>
                <p class="gallery-item-author">Nicolas Rey</p>
            </div> <!-- gallery-item-info -->

            <nav>
                <ul class="gallery-item-navigation">
                    <li><a class="img-replace" href="#0">Prev</a></li>
                    <li><a class="img-replace" href="#0">Next</a></li>
                </ul>
            </nav>

            <a class="gallery-3d-trigger img-replace" href="#0">Open</a>
        </li>
        <li>
            <ul class="gallery-item-wrapper">
                <li class="gallery-item-front"><a href="#0"><img src="img/thumb-2.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-middle"><a href="#0"><img src="img/thumb-3.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-back"><a href="#0"><img src="img/thumb-4.jpg" alt="BuildWall"></a></li>
            </ul> <!-- gallery-item-wrapper -->

            <div class="gallery-item-info">
                <h3 class="gallery-item-title"><a href="#0">HopWork</a></h3>
                <p class="gallery-item-author">Hugo Lassiège, Jean-Baptiste Lemée</p>
            </div> <!-- gallery-item-info -->

            <nav>
                <ul class="gallery-item-navigation">
                    <li><a class="img-replace" href="#0">Prev</a></li>
                    <li><a class="img-replace" href="#0">Next</a></li>
                </ul>
            </nav>

            <a class="gallery-3d-trigger img-replace" href="#0">Open</a>
        </li>
        <li>
            <ul class="gallery-item-wrapper">
                <li class="gallery-item-front"><a href="#0"><img src="img/thumb-3.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-middle"><a href="#0"><img src="img/thumb-1.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-back"><a href="#0"><img src="img/thumb-2.jpg" alt="BuildWall"></a></li>
            </ul> <!-- gallery-item-wrapper -->

            <div class="gallery-item-info">
                <h3 class="gallery-item-title"><a href="#0">Localizeyourapps</a></h3>
                <p class="gallery-item-author">Hugo Lassiège</p>
            </div> <!-- gallery-item-info -->

            <nav>
                <ul class="gallery-item-navigation">
                    <li><a class="img-replace" href="#0">Prev</a></li>
                    <li><a class="img-replace" href="#0">Next</a></li>
                </ul>
            </nav>

            <a class="gallery-3d-trigger img-replace" href="#0">Open</a>
        </li>
        <li>
            <ul class="gallery-item-wrapper">
                <li class="gallery-item-front"><a href="#0"><img src="img/thumb-4.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-middle"><a href="#0"><img src="img/thumb-2.jpg" alt="BuildWall"></a></li>
                <li class="gallery-item-back"><a href="#0"><img src="img/thumb-1.jpg" alt="BuildWall"></a></li>
            </ul> <!-- gallery-item-wrapper -->

            <div class="gallery-item-info">
                <h3 class="gallery-item-title"><a href="#0">Url Shortener</a></h3>
                <p class="gallery-item-author">Jean-Baptiste Lemée</p>
            </div> <!-- gallery-item-info -->

            <nav>
                <ul class="gallery-item-navigation">
                    <li><a class="img-replace" href="#0">Prev</a></li>
                    <li><a class="img-replace" href="#0">Next</a></li>
                </ul>
            </nav>

            <a class="gallery-3d-trigger img-replace" href="#0">Open</a>
        </li>
    </ul>
