---
layout: page.hbs
type: projets
title: L'incubateur
icon: fa fa-flask
breadcrumbs: Projets
subtitle: Vous avez une idée ? Mais ni le temps ni les moyens de la mettre en œuvre ? Nous pouvons vous aider !
---
                <h2>Comment ça fonctionne ?</h2>
                <p>
                    Chez Lateral Thoughts nous aimons coder et nous y consacrons du temps en dehors des missions, 10% de notre temps. Ca peut se matérialiser par exemple sous forme de code retreat ensemble ou de hands-on pour le faire partager en dehors.
                </p>
                <p>
                    Pour faire du soft, nous avons notre compte github LT, des machines, de l'intégration continue, des collègues avec qui confronter nos idées et nous aider. C'est ce qu'on appelle l'incubateur. Et pour tout vous dire, on espère bien que nos softs vont plaire et vont nous permettre d'y passer plus que 10% de notre temps. Oui, on y croit !
                </p>


                <h2>
                    En quoi ça peut vous intéresser ?
                </h2>

                <h3>Vous êtes développeurs :</h3>
                <p>
                Lateral Thoughts recherche constamment de nouveau talent. Faire partie de notre société c’est avoir la possibilité de consacrer une partie de son temps à des projets personnels et de se faire aider.
                Si votre projet est déjà bien avancé, vous ne perdez rien, grâce à notre place de marché vous définissez vos conditions, le nombre de parts qui vous appartiennent, fonction du temps que vous avez déjà investis, ainsi que votre pourcentage de gain sur les bénéfices. En ouvrant votre projet, vous le confrontez aux autres et croyez nous, c’est comme ça que vous allez l’améliorer et qu’il réussira !
                </p>

                <h3>Vous êtes porteur de projet sans financement :</h3>
                <p>
                Soumettez nous votre idée, si elle plaît, nous pouvons y passer du temps en devenant associé.
                </p>

                <h3>Vous êtes porteur de projet fortuné :</h3>
                <p>
                Quelque-soit votre projet, nous pouvons le développer. Nous sommes une société composée de gens talentueux, habitués à démarrer des projets et à vous accompagner dans votre démarche
                </p>

                <div class="see-more">
                    <a href="/incubateur" class="btn btn-primary">
                        <i class="fa fa-flask"></i>
                        &nbsp;
                        Sceptique ? Voici la liste de nos projets
                    </a>
                </div>
