---
layout: page.hbs
title: Nos formations
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
breadcrumbs: Formations
---
    <div class="row training-agenda">
        <div class="col-md-8 col-lg-9">
            <table class="table training-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Formations</th>
                    <th>Durée</th>
                    <th>Lieu</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>

                <tr><td colspan="5" class="month"><h4 class="title">Janvier 2015</h4></td></tr>
                <tr class="training-item">
                    <td class="date">8-9</td>
                    <td><a  href="/formation-ansible">Atelier Ansible</a></td>
                    <td>2 jours</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#form-contact">S'inscrire</a></td>
                </tr>
                <tr class="training-item">
                     <td class="date">19-20</td>
                     <td><a href="/formation-unity3d-2D-platformer-beginner">Plateforme 2D - Unity3D</a></td>
                     <td>3 jours</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#form-contact">S'inscrire</a></td>
                </tr>

                <tr><td colspan="5" class="month"><h4 class="title">Février 2015</h4></td></tr>
                <tr class="training-item">
                    <td class="date">2-3</td>
                    <td><a href="/formation-mongodb">MongoDB</a></td>
                    <td>2 jour</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#form-contact">S'inscrire</a></td>
                </tr>
                
                <tr class="training-item">
                    <td class="date">4</td>
                    <td><a href="/formation-spark">Apache Spark - Databricks</a></td>
                    <td>1 jour</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#form-contact">S'inscrire</a></td>
                </tr>

                <tr class="training-item">
                    <td class="date">16-17</td>
                    <td><a href="/formation-softwarefactory">Usine logicielle</a></td>
                    <td>2 jours</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#form-contact">S'inscrire</a></td>
                </tr>

                <tr><td colspan="5" class="month"><h4 class="title">Mars 2015</h4></td></tr>
                <tr class="training-item">
                    <td class="date">19-20</td>
                    <td><a href="/formation-mongodb">MongoDB</a></td>
                    <td>2 jours</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#form-contact">S'inscrire</a></td>
                </tr>
                <tr class="training-item">
                    <td class="date">23</td>
                    <td><a href="/formation-spark">Apache Spark - Databricks</a></td>
                    <td>1 jour</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#form-contact">S'inscrire</a></td>
                </tr>                
                <tr class="training-item">
                    <td class="date">26-27</td>
                    <td><a href="/formation-ansible">Ansible</a></td>
                    <td>2 jours</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#form-contact">S'inscrire</a></td>
                </tr>
            </tbody>
            </table>
        </div>

        <aside class="col-md-4 col-lg-3">
            <div class="training-catalog">
                <div class="pull-left rounded-icon"><i class="fa fa-book fa-lg"></i></div><a href="/formations">Consulter le catalogue de nos formations</a>
            </div>
            <div class="sidebox training-info">
                <h3>Découvrer les formateurs Lateral Thoughts</h3>
                <img class="team-picture" src="/images/trainers.png">
                <a href="/equipe">Découvrir l'équipe Lateral Thoughts</a>
            </div>
        </aside>
    </div>
