---
layout: page.hbs
title: Nos formations
icon: icon-lt_training
subtitle: Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
breadcrumbs: Formations
---
    <div class="row training-agenda">
        <div class="col-md-8 col-lg-9">
            <table class="table training-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Formations</th>
                    <th>Durée</th>
                    <th>Lieu</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="5" class="month"><h4 class="title">Octobre 2014</h4></td></tr>
                <tr class="training-item">
                    <td class="date">13-15</td>
                    <td><a  href="/formation-mongodb">Mongo DB</a></td>
                    <td>3 jours</td>
                    <td>Paris / Lyon</td>
                    <td class="subscribe"><a href="#">S'inscrire</a></td>
                </tr>
                <tr class="training-item">
                    <td class="date">22-24</td>
                    <td><a href="#">Spark</a></td>
                    <td>3 jours</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#">S'inscrire</a></td>
                </tr>
                <tr><td colspan="5" class="month"><h4 class="title">Novembre 2014</h4></td></tr>
                <tr class="training-item">
                    <td class="date">10-12</td>
                    <td><a href="/formation-mongodb">Mongo DB</a></td>
                    <td>3 jours</td>
                    <td>Paris / Lyon</td>
                    <td class="subscribe"><a href="#">S'inscrire</a></td>
                </tr>
                <tr class="training-item">
                    <td class="date">13</td>
                    <td><a href="/formation-TDD">TDD</a></td>
                    <td>1 jour</td>
                    <td>Lyon</td>
                    <td class="subscribe"><a href="#">S'inscrire</a></td>
                </tr>
                <tr class="training-item">
                    <td class="date">17-19</td>
                    <td><a href="/beginner">Java débutant</a></td>
                    <td>3 jours</td>
                    <td>Paris</td>
                    <td class="subscribe"><a href="#">S'inscrire</a></td>
                </tr>
                <tr><td colspan="5" class="month"><h4 class="title">Décembre 2014</h4></td></tr>
                <tr class="training-item">
                    <td class="date">8-10</td>
                    <td><a href="/formation-mongodb">Mongo DB</a></td>
                    <td>3 jours</td>
                    <td>Paris / Lyon</td>
                    <td class="subscribe"><a href="#">S'inscrire</a></td>
                </tr>
            </tbody>
            </table>
        </div>


        <aside class="col-md-4 col-lg-3">
            <div class="training-catalog">
                <div class="pull-left rounded-icon"><i class="fa fa-book fa-lg"></i></div><a href="/formations">Consulter le catalogue de nos formations</a>
            </div>
            <div class="sidebox training-info">
                <h3>Découvrer les formateurs Lateral Thoughts</h3>
                <div class="person">
                    <img class="person-picture" src="img/membres/hugo.jpg">
                </div>
                <a href="/equipe">Découvrir l'équipe Lateral Thoughts</a>
            </div>
        </aside>
    </div>
