    <footer class="wrapper page-footer">
        <div class="container">
            <div class="float-wrapper">
                <ul class="footer-menu">
                    <li class="footer-menu-item logo">
                        <a href="/">
                            <img src="images/lt_logo_grey.svg" alt="Logo Lateral Thoughts">
                        </a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="/formations">nos formations</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="/formateurs">nos formateurs</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="/incubateur">incubateur</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="/contact">task force</a>
                    </li>
                </ul>

                <ul class="social-icons pull-right">
                    <li class="social-icon github">
                        <a class="icon-github" href="https://github.com/LateralThoughts" target="_blank"></a>
                    </li>
                    <li class="social-icon twitter">
                        <a class="icon-twitter" href="https://twitter.com/LateraIThoughts" target="_blank"></a>
                    </li>
                </ul>
            </div>

            <p class="copyright clearfix">&#169; 2014 Lateral Thoughts, tous droits réservés.</p>
        </div>
    </footer>
