
    <div class="wrapper contact">
        <div class="container">
            <h2 id="form-contact" class="animated fadeIn wow">Contactez nous</h2>
            <form class="contact-form" action="mailto:contact@lateral-thoughts.com" method="POST" accept-charset="utf-8" enctype="text/plain" >
                <div class="row">
                    <div class="col-sm-4 animated slideInLeft wow">
                        <div class="form-group">
                            <label for="name">Votre nom et prénom</label>
                            <input class="form-control" type="text" id="name" name="name"
                                   maxlength="255" title="Votre nom" data-trigger="focus" rel="tooltip"
                                   data-placement="right" placeholder="Votre nom" required="required"/>
                        </div>
                    </div>
                    <div class="col-sm-4 animated fadeIn wow">
                        <div class="form-group">
                            <label for="email">Votre email</label>
                            <input class="form-control" type="email" id="email" name="email"
                                   maxlength="255" title="john@doe.com" data-trigger="focus" rel="tooltip"
                                   data-placement="right" placeholder="john@doe.com" required="required"/>
                        </div>
                    </div>
                    <div class="col-sm-4 animated slideInRight wow"">
                        <div class="form-group">
                            <label for="phone">Votre numéro de téléphone</label>
                            <input class="form-control" type="tel" id="phone" name="phone"/>
                        </div>
                    </div>
                </div>
                <div class="form-group contact-message animated fadeIn wow">
                    <label>Votre message</label>
                    <textarea class="form-control"
                              title="Besoin de conseil, d'aide sur un projet, de formation ou interessé par notre incubateur ?"
                              data-trigger="focus" rows="10" data-placement="right"
                              placeholder="Besoin de conseil, d'aide sur un projet, de formation ou interessé par notre incubateur ?"
                              required="required" value=""></textarea>
                </div>
                <div class="contact-submit-wrapper animated fadeIn wow">
                    <input id="contact-submit" class="contact-submit" type="submit">
                    <label class="contact-submit" for="contact-submit">
                        <div class="contact-submit-pic icon-send"></div>
                        <span class="contact-submit-label">Envoyer</span>
                    </label>
                </div>
            </form>
        </div>
    </div>


    <footer class="wrapper page-footer">
        <div class="container">
