<head>
    <meta charset="utf-8">
    <title>Lateral Thoughts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
