<head>
    <meta charset="utf-8">
    <title>Lateral Thoughts{{# if title}} - {{title}}{{/if}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- Don't add link to favicon on purpose, see http://realfavicongenerator.net/faq#troubleshootings -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="css/animation.css">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
