<!DOCTYPE html>
<html>
<head>
    <title>Lateral Thoughts - Formation Usine Logicielle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">
	<link href="css/slider.css" rel="stylesheet">
	

	<link href='http://fonts.googleapis.com/css?family=Merienda' rel='stylesheet' type='text/css'>


</head>
<body >


@@include('includes/header.html')


<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				<h1>Formation</h1>
				<p>Lateral Thoughts c’est avant tout des développeurs qui travaillent leur savoir-faire au jour le jour lors de missions de conseil ou directement sur nos propres produits. Nos formations sont en toute logique animées par des personnes du terrain qui se remettent à jour régulièrement. Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
				</p>
			</div> <!-- /.masthead-text -->
		</div>
		
	</div> <!-- /.container -->	
	
</div> <!-- /#masthead -->




<div id="content">

	<div class="container ">
	
		<div class="row-fluid">
			<div class="span12">
				<img src="img/formations/scrum.png" width="100" height="100" class="img-polaroid"/>
				<h2>Scrum par la pratique</h2>

				<div class="row-fluid">
					<div class="span9 well">
						<h6>A qui cette formation s'adresse-t-elle ?</h6>
						<ul>
							<li>Tous profils et tous métiers !</li>
						</ul>
						<h6>Objectifs</h6>
						<ul>
							<li>Comprendre l'Agilité par Scrum</li>
							<li>les rôles et interactions</li>
							<li>Participer et comprendre les projets en Agile</li>
						</ul>
						<h6>Méthode pédagogique</h6>
						<p>Les participants vont apprendre et pratiquer.
						</p>							
						<ul>
							<li> 50 % de théorie</li>
							<li> 50 % d'atelier, Serious Games, travaux pratiques</li>
						</ul>

						<h6>Prérequis</h6>
							RAS.				
						<p/>	

						<hr/>
						<h5>Plan</h5>	

						<h6>Présentation générale de Scrum</h6>					

						<h6>Définition des Rôles</h6>

						<h6>User Stories et critères d'Acceptation</h6>
						
						<h6>Gestion des priorités et Management Visuel</h6>		

						<h6>Done et Done</h6>
								
						<h6>Les Cérémoniaux Scrum</h6>		
						
						<h6>Enjeux et Jeux de communication</h6>		
						<br/>
						<h5>Formateur</h5>
						
						<h6>Yannick AMEUR</h6>

					</div>

					<div class="span3">
						<h3>Prix (inter entreprises)</h3>	
						<span class="price">1120 € HT / personne</span>	
						<h3>Durée</h3>	
						<span class="length">2 jours</span>	<br/>

						<strong>Audience</strong> : tous profils et tous métiers ! <br/>
						<strong>Prix intra entreprises</strong> : Nous contacter<br/>
						<strong>Formateurs</strong> : Yannick Ameur <br/>

						<a href="/contact" class="btn btn-large btn-success">Demander un devis</a>
					</div>						
				</div>				
								
				
			</div>
		</div>
	</div> <!-- /.container -->

</div> <!-- /#content -->



<div class="push"></div>
</div> <!-- /#wrapper -->



@@include('includes/footer.html')
</body>
<script type="text/javascript" data-main="js/main" src="js/require.js"></script>
</html>
