<!DOCTYPE html>
<html>
<head>
    <title>Lateral Thoughts - Formation MongoDb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">
	<link href="css/slider.css" rel="stylesheet">
	

	<link href='http://fonts.googleapis.com/css?family=Merienda' rel='stylesheet' type='text/css'>


</head>
<body >


@@include('includes/header.html')


<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				<h1>Formation</h1>
				<p>Lateral Thoughts c’est avant tout des développeurs qui travaillent leur savoir-faire au jour le jour lors de missions de conseil ou directement sur nos propres produits. Nos formations sont en toute logique animées par des personnes du terrain qui se remettent à jour régulièrement. Nous aimons construire des applications modernes en tirant parti des technos les plus adaptées et nous sommes ravis de le partager.
				</p>
			</div> <!-- /.masthead-text -->
		</div>
		
	</div> <!-- /.container -->	
	
</div> <!-- /#masthead -->




<div id="content">

	<div class="container ">
	
		<div class="row-fluid">
			<div class="span12">
				<img src="img/formations/neo4j.jpg" class="img-polaroid"/>
				<h2>Formation : Neo4J</h2>

				<div class="row-fluid">
					<div class="span9 well">
						<h6>A qui cette formation s'adresse-t-elle ?</h6>
						<ul>
							<li>C'est une formation orientée développeurs et non une formation administrateurs.</li>
						</ul>
						<h6>Objectifs</h6>
						<ul>
							<li>Comprendre le modèle des bases de données graphe</li>
							<li>Maîtriser les APIs unitaires (CRUD noeuds &amp; relations) et d'indexation [auto-indexation, indexation manuelle, indexation par label]</li>
							<li>Savoir requêter de la donnée (traversées &amp; Cypher)</li>
							<li>Importer des données (batch, Talend, Geoff)</li>
							<li>Déployer Neo4j en mode serveur (API REST standard, unmanaged extensions)</li>
							<li>Appréhender Spring Data</li>
						</ul>
						<h6>Méthode</h6>
						<p>
						Certaines itérations feront l'objet d'une démonstrations et de questions/réponses. 
						La plupart des sujets se découperont comme suit:
						</p>							
						<ul>
							<li> 20 min de présentation de l’itération : présentation de l’exercice et des concepts à utiliser.</li>
							<li> 1h 20 de pratique.</li>
							<li> 20 min de rétrospective : présentation par les participants des difficultés rencontrées et de leur résolutions. </li>
						</ul>

						<p>La formation s'effectuera en Java et en Javascript.</p>	

						<h6>Prérequis</h6>
						<p>
							Les participants devront connaître le language Java.
						</p>	

						<hr/>
						<h5>Plan</h5>

						<h6>Notions élémentaires</h6>
						<ul>
							<li>Présentation des graphes et bases de données graphes </li>
							<li>Découverte des API unitaires 
								<ul>
									<li>CRUD de noeuds</li>
									<li>CRUD de relations</li>
								</ul>
							</li>
							<li>Prise en main des différentes APIs d'indexation
								<ul>
									<li>indexation manuelle (legacy)</li>
									<li>auto-indexation (legacy)</li>
									<li>indexation par label</li>
								</ul>
							</li>

							<li>Présentation d'exemples inspirés de <a href="http://www.neotechnology.com/customers/">cas réels</a>
								<ul>
									<li>catalogue d'un opérateur mobile</li>
									<li>recommandations de contacts professionnels</li>
									<li>réseau de transport ferroviaire</li>
								</ul>
							</li>
						</ul>

						<h6>Requêtage des données</h6>
						<ul>
							<li>Exposition des différents algorithmes de traversée et utilisation avec Neo4j
								<ul>
									<li>Breadth-First Search</li>
									<li>Depth-First Search</li>
									<li>Framework de traversée Neo4J</li>
								</ul>
							</li>

							<li>Découvrir Cypher
								<ul>
									<li>pattern matching sur graphe</li>
									<li>syntaxe</li>
									<li>plans d'exécution</li>
								</ul>
							</li>
						</ul>

						<h6>Exposition des données</h6>
						<ul>
							<li>API REST standard
								<ul>
									<li>CRUD</li>
									<li>indexation</li>
									<li>exécution de requêtes Cypher</li>
									<li>streaming des résultats</li>
								</ul>
							</li>
							<li>Extension des APIS standards
								<ul>
									<li>unmanaged extensions</li>
									<li>sécurisation des accès</li>
								</ul>
							</li>
						</ul>

						<h6>Mapping Graphe-Object avec Spring Data</h6>
						<ul>
							<li>motivations et concepts derrière Spring Data</li>
							<li>découverte des @NodeEntity, @RelationshipEntity et GraphRepository</li>
							<li>indexation</li>
							<li>requêtes Géospatiales</li>
						</ul>

						<h6>Import de données</h6>
						<ul>
							<li>insertion en batch [BatchInserters]</li>
							<li>utilisation du module d'import Talend</li>
							<li>découverte de Geoff</li>
						</ul>

						<h6>Déploiement</h6>
						<p>Découverte des PAAS disponibles.</p>

						<h6>Visualisation de données</h6>
						<ul>
							<li>Neoclipse, Gephi</li>
							<li>Linkurious</li>
							<li>Console Neo4J</li>
							<li>visualisation custom [sigma.js]</li>
						</ul>
					</div>

					<div class="span3">
						<h3>Prix (inter entreprises)</h3>	
						<span class="price">1490 € HT / personne</span>	
						<h3>Durée</h3>	
						<span class="length">3 jours</span>	<br/>

						<strong>Audience</strong> : développeurs <br/>
						<strong>Prix intra entreprises</strong> : Nous contacter<br/>
						<strong>Formateurs</strong> : Florent Biville <br/>

						<a href="/contact" class="btn btn-large btn-success">Demander un devis</a>
					</div>						
				</div>				
								
				
			</div>
		</div>
	</div> <!-- /.container -->

</div> <!-- /#content -->



<div class="push"></div>
</div> <!-- /#wrapper -->



@@include('includes/footer.html')
</body>
<script type="text/javascript" data-main="js/main" src="js/require.js"></script>
</html>
