<!DOCTYPE html>
<html>
<head>
    <title>Lateral Thoughts - Open Training Initiative: F.A.Q.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">
	<link href="css/slider.css" rel="stylesheet">
	<link href="css/hands-on.css" rel="stylesheet">
	

	<link href='http://fonts.googleapis.com/css?family=Merienda' rel='stylesheet' type='text/css'>


</head>
<body >


@@include('includes/header.html')


<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-pad">
			
			<div class="masthead-text">
				<h1>Open Training Initiative</h1>

				<p>
Il y a des sujets à la mode, des sujets hype qui remontent naturellement dans votre flot quotidien d'informations <a href="http://www.twitter.com/">Twitter</a> ou d'<a href="http://news.ycombinator.com/">Hacker News</a>.<br />
Il existe aussi des sujets fondamentaux, qui forment le socle de votre bagage technique d'artisan logiciel. Ces sujets s'apprennent difficilement sur le tas.
<br />À Lateral Thoughts, nous croyons beaucoup au format "hands-on". Sans prétendre remplacer nos <a href="/training">formations</a> classiques, ces sessions conviviales de 3h vous permettent de vous mettre solidement le pied à l'étrier et de poser des questions aux animateurs.<br />
Notez enfin que vous pouvez aussi bénéficier du DIF pour ces ateliers !
				</p>
			</div> <!-- /.masthead-text -->
		</div>
		
	</div> <!-- /.container -->	
	
</div> <!-- /#masthead -->

<div id="content">

	<div class="pagination-centered">
	     	<a href="/hands-on-sessions" class="btn btn-large btn-primary">
                        <i class="icon-list"></i> &nbsp;
                        Voir la liste des hands-on
                </a>
   	</div>

	<div class="container">

        	<div class="row-fluid">
                        <div class="span12">
                                <h2>F.A.Q.</h2>
				<dl>
					<dt>Pourquoi "Open Training Initiative" ?</dt>
					<dd>Nous nous imposons de diffuser librement le contenu de nos hands-on, afin qu'ils puissent être éventuellement repris par tout un chacun.</dd>

					<dt>Comment se déroule un hands-on ?</dt>
					<dd>Un hands-on est la plupart du temps composé d'une série d'exercices de 3h au total, proposé à un auditoire d'une taille généralement variant de 10 à 20 personnes. Ces exercices sont précédés d'une introduction générale sur le sujet et le ou les intervenants sont à votre disposition pour vous débloquer, répondre à vos questions.</dd>

					<dt>En quoi cette initiative est-elle différente des hands-on organisés dans ma ville ?</dt>
					<dd>Nos hands-on font très souvent echo à notre propre catalogue de <a href="/training">formations</a> et en sont parfois des extraits choisis. De plus, le contenu de ces sessions est librement diffusable et modifiable. Ils peuvent traiter de sujets "à la mode" mais aussi de sujets plus mainstream. Enfin, nous vous offrons la possibilité d'animer un de nos <a href="/hands-on">hands-on</a> dans vos locaux, voire de vous en créer un sur mesure.</dd>

					<dt>Suis-je obligé(e) de participer financièrement ?</dt>
					<dd>Pour faire simple, contribuer financièrement, c'est nous aider à organiser plus de hands-on. Vous avez peut-être déjà entendu parler de ce genre d'initiatives dans d'autres domaines (<a href="http://en.wikipedia.org/wiki/Radiohead#In_Rainbows.2C_independent_work_and_.22pay_what_you_want.22_.282005.E2.80.9308.29">musique</a>, <a href="http://www.louvrepourtous.fr/Les-musees-de-Paris-de-la-gratuite,706.html">musées</a>, ...). Nous avons donc eu la volonté d'appliquer cette idée aux hands-on. Concrètement, <a href="/">Lateral Thoughts</a> prend en charge tous les frais : location de salle, buffet, préparation et organisation d'autres hands-on. Il ne vous reste qu'à venir et décider de la somme que vous estimez la plus juste : de 0€ à une rente à vie si vous avez de la famille chez Rothschild.</dd> 

					<dt>Je souhaiterais vous proposer un hands-on, qui dois-je contacter ?</dt>
					<dd>N'hésitez pas à nous <a href="/contact">contacter</a> directement.</dd>

					<dt>Je souhaiterais qu'un de vos hands-on soit tenu dans mon entreprise, c'est possible ?</dt>
					<dd>C'est tout à fait possible. Nous pouvons même créer un hands-on sur mesure correspondant à vos besoins, moyennant une contrepartie financière. Notez en outre que Lateral Thoughts est organisme de formations agréé, ces sessions peuvent être financées en tant que formations à part entière. Pour plus de détails, n'hésitez pas à nous <a href="/contact">contacter</a> directement.</dd>
				</dl>
                        </div>               
	 </div>
</div>


<div class="push"></div>


@@include('includes/footer.html')
</body>
<script type="text/javascript" data-main="js/main" src="js/require.js"></script>
</html>
