<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Lateral Thoughts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>

    <body class="lt">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="lt-header-wrapper">
            <div class="lt-header">
                <img src="images/lt_logo_red.svg" alt="Logo" class="lt-logo">
                <ul class="lt-tabs">
                    <li class="lt-tab">
                        <a class="lt-tab-link" href="/training.html">nos formations</a>
                    </li>
                    <li class="lt-tab">
                        <a class="lt-tab-link" href="/projets.html">nos services</a>
                    </li>
                    <li class="lt-tab">
                        <a class="lt-tab-link" href="/equipe.html">équipe</a>
                    </li>
                    <li class="lt-tab">
                        <a class="lt-tab-link" href="/blog.html">blog</a>
                    </li>
                    <li class="lt-tab">
                        <a class="lt-tab-link" href="/vision.html">nos valeurs</a>
                    </li>
                    <li class="lt-tab">
                        <a class="lt-tab-link lt-contact" href="#form-contact">
                            <div class="lt-mail-pic icon-enveloppe"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="lt-pres-wrapper">
          <div class="lt-container">
            <div class="lt-catchphrase">
              <div class="lt-catchphrase-wrapper">
                <p class="lt-catchphrase-text">
                  Nous créons des logiciels<br />
                  de qualités et nous pouvons<br />
                  vous aider à faire de même.
                </p>
                <div class="lt-catchphrase-pic"></div>
              </div>
            </div>

            <p class="lt-slogan">
              Lateral Thoughts, c'est avant tout une vision : Passion, Innovation, Équité.
            </p>

            <div class="lt-offers">
              <div class="lt-offer lt-studio">
                <a class="lt-offer-link" href="#form-contact">
                  <div class="lt-offer-pic icon-lt_studio"></div>
                  <h3 class="lt-offer-title">lateral studio</h3>
                  <p class="lt-offer-description">nos forfaits</p>
                </a>
              </div>
              <div class="lt-offer lt-training">
                <a class="lt-offer-link" href="/training.html">
                  <div class="lt-offer-pic icon-lt_training"></div>
                  <h3 class="lt-offer-title">lateral training</h3>
                  <p class="lt-offer-description">nos formations</p>
                </a>
              </div>
              <div class="lt-offer lt-swat">
                <a class="lt-offer-link" href="#form-contact">
                  <div class="lt-offer-pic icon-lt_swat"></div>
                  <h3 class="lt-offer-title">lateral swat</h3>
                  <p class="lt-offer-description">notre prestation</p>
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="lt-innovation-wrapper">
          <div class="lt-container">
            <img class="lt-team-pic" src="images/team.jpg" alt="Lateral Thoughts team" />
            <div class="lt-innovation">
              <h3 class="lt-innovation-title">10% de notre temps est dédié à l'innovation.</h3>
              <p class="lt-innovation-description">
                Notre crédo ?<br><br>
                Penser en dehors des cadres établis, proposer un autre modèle, une autre façon de travailler.<br><br>
                Boîte de développeurs, créée par des développeurs, nous nous attachons à créer de la valeur.
              </p>
              <div class="lt-innovation-projects">
                <a class="lt-innovation-project" href="http://www.appartinfo.com/fr/">
                  <img src="images/logo/logo-appartinfo.png" alt="Appart Info" />
                </a>
                <a class="lt-innovation-project" href="https://www.hopwork.com/">
                  <img src="images/logo/logo-hopwork.png" alt="Hopwork" />
                </a>
                <a class="lt-innovation-project" href="http://www.localizeyourapps.com/">
                  <img src="images/logo/logo-localizeyourapps.png" alt="Localize Your Apps" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="lt-references-wrapper">
          <div class="lt-container">
            <h3 class="lt-references-title">Nos références</h3>
            <div class="lt-references">
              <a class="lt-reference-wrapper" href="http://www.darty.com/">
                <img class="lt-reference" src="img/references/logo_darty(76x76).jpg" alt="Darty" />
              </a>
              <a class="lt-reference-wrapper" href="https://www.egencia.fr/public/fr/fr/">
                <img class="lt-reference" src="img/references/egencia-logo(129x86).jpg" alt="Egencia" />
              </a>
              <a class="lt-reference-wrapper" href="http://www.naelan.com/">
                <img class="lt-reference" src="img/references/logo-naelan(129x80).jpg" alt="Naelan" />
              </a>
              <a class="lt-reference-wrapper" href="http://www.vidal.fr/">
                <img class="lt-reference" src="img/references/logo_vidal_beta(107x107).jpg" alt="Vidal" />
              </a>
              <a class="lt-reference-wrapper" href="http://www.stormshield.eu/en">
                <img class="lt-reference" src="img/references/logo_stormshield(129x68).jpg" alt="Stormshield" />
              </a>
              <a class="lt-reference-wrapper" href="http://www.seb.fr/">
                <img class="lt-reference" src="img/references/logo-seb(57x76).jpg" alt="Seb" />
              </a>
            </div>
          </div>
        </div>


        <div class="lt-contact-wrapper">
          <div class="lt-container">
            <h3 class="lt-contact-title" id="form-contact">Contactez nous</h3>

            <form class="lt-contact-form" action="mailto:contact@lateral-thoughts.com" method="POST" accept-charset="utf-8" enctype="text/plain" >
              <div>
                <div class="lt-contact-input-inline">
                  <label class="lt-contact-label" for="name">Votre nom et prénom</label>
                  <input class="lt-contact-text-input" type="text" id="name" name="name"
                         maxlength="255" title="Votre nom" data-trigger="focus" rel="tooltip"
                         data-placement="right" placeholder="Votre nom" required="required"/>
                </div>
                <div class="lt-contact-input-inline">
                  <label class="lt-contact-label" for="email">Votre email</label>
                  <input class="lt-contact-text-input" type="email" id="email" name="email"
                         maxlength="255" title="john@doe.com" data-trigger="focus" rel="tooltip"
                         data-placement="right" placeholder="john@doe.com" required="required"/>
                </div>
                <div class="lt-contact-input-inline">
                  <label class="lt-contact-label" for="phone">Votre numéro de téléphone</label>
                  <input class="lt-contact-text-input" type="tel" id="phone" name="phone"/>
                </div>
              </div>

              <div class="lt-contact-msg">
                <label class="lt-contact-label">Votre message</label>
                <textarea class="lt-contact-textarea"
                          title="Besoin de conseil, d'aide sur un projet, de formation ou interessé par notre incubateur ?"
                          data-trigger="focus" rows="10" data-placement="right"
                          placeholder="Besoin de conseil, d'aide sur un projet, de formation ou interessé par notre incubateur ?"
                          required="required" value=""></textarea>
              </div>

              <div class="lt-contact-submit-wrapper">
                <input id="lt-contact-submit" class="lt-contact-submit" type="submit">
                <label class="lt-contact-submit" for="lt-contact-submit">
                  <div class="lt-contact-submit-pic icon-send"></div>
                  <span class="lt-contact-submit-label">Envoyer</span>
                </label>
              </div>
            </form>
          </div>
        </div>


        <div class="lt-footer-wrapper">
          <div class="lt-container">
            <div class="lt-float-wrapper">
              <ul class="lt-footer-menu">
                <li class="lt-footer-menu-item logo">
                  <a class="lt-footer-menu-item-link" href="/">
                    <img src="images/lt_logo_grey.svg" alt="Logo Lateral Thoughts">
                  </a>
                </li>
                <li class="lt-footer-menu-item">
                  <a class="lt-footer-menu-item-link" href="/formations.html">nos formations</a>
                </li>
                <li class="lt-footer-menu-item">
                  <a class="lt-footer-menu-item-link" href="/formateurs.html">nos formateurs</a>
                </li>
                <li class="lt-footer-menu-item">
                  <a class="lt-footer-menu-item-link" href="/incubateur.html">incubateur</a>
                </li>
                <li class="lt-footer-menu-item">
                  <a class="lt-footer-menu-item-link" href="/contact.html">task force</a>
                </li>
              </ul>

              <ul class="lt-footer-socials">
                <li class="lt-footer-social github">
                  <a class="lt-footer-menu-item-link icon-github" href="https://github.com/LateralThoughts"></a>
                </li>
                <li class="lt-footer-social twitter">
                  <a class="lt-footer-menu-item-link icon-twitter" href="https://twitter.com/LateraIThoughts"></a>
                </li>
              </ul>
            </div>

            <p class="lt-footer-copyright">
              &#169; 2014 Lateral Thoughts, tous droits réservés.
            </p>
          </div>
        </div>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-33016590-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
