<!DOCTYPE html>
<html>
<head>
    <title>Lateral Thoughts - Équipe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/application.css" rel="stylesheet">
    <link href="css/slider.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Merienda' rel='stylesheet' type='text/css'>


</head>
<body >


@@include('includes/header.html')


<div id="masthead">
    
    <div class="container">
        
        <div class="masthead-pad">
            
            <div class="masthead-text">
                <h1>L'incubateur</h1>
                <p>Vous avez une idée ? Mais ni le temps ni les moyens de la mettre en œuvre ? Nous pouvons vous aider !
                </p>
            </div> <!-- /.masthead-text -->
        </div>
        
    </div> <!-- /.container --> 
    
</div> <!-- /#masthead -->




<div id="content">

    <div class="container ">
        <div class="row-fluid">
            <div class="offset2 span8">
                <h2>Comment ça fonctionne ?</h2>
                <p>
                    Chez Lateral Thoughts nous aimons coder et nous y consacrons du temps en dehors des missions, 10% de notre temps. Ca peut se matérialiser par exemple sous forme de code retreat ensemble ou de hands-on pour le faire partager en dehors.
                </p>
                <p>
                    Pour faire du soft, nous avons notre compte github LT, des machines, de l'intégration continue, des collègues avec qui confronter nos idées et nous aider. C'est ce qu'on appelle l'incubateur. Et pour tout vous dire, on espère bien que nos softs vont plaire et vont nous permettre d'y passer plus que 10% de notre temps. Oui, on y croit !
                </p>
                <h3>
                    En quoi ça peut vous intéresser ?
                </h3>

                <h5>Vous êtes développeurs :</h5>
                <p>
                Lateral Thoughts recherche constamment de nouveau talent. Faire partie de notre société c’est avoir la possibilité de consacrer une partie de son temps à des projets personnels et de se faire aider.
                Si votre projet est déjà bien avancé, vous ne perdez rien, grâce à notre place de marché vous définissez vos conditions, le nombre de parts qui vous appartiennent, fonction du temps que vous avez déjà investis, ainsi que votre pourcentage de gain sur les bénéfices. En ouvrant votre projet, vous le confrontez aux autres et croyez nous, c’est comme ça que vous allez l’améliorer et qu’il réussira !
                </p>
                <h5>Vous êtes porteur de projet sans financement :</h5>
                <p>
                Soumettez nous votre idée, si elle plaît, nous pouvons y passer du temps en devenant associé.
                </p>
                <h5>Vous êtes porteur de projet fortuné :</h5>
                <p>
                Quelque-soit votre projet, nous pouvons le développer. Nous sommes une société composée de gens talentueux, habitués à démarrer des projets et à vous accompagner dans votre démarche.               
                </p>

                <div class="pagination-centered">
                    <a href="/incubateur" class="btn btn-large btn-info ">
                        <i class="icon-beaker"></i>
                        &nbsp;
                        Sceptique ? Voici la liste de nos projets                     
                    </a>
                </div>
            </div>
        </div>

    </div> <!-- /.container -->

</div> <!-- /#content -->



<div class="push"></div>
</div> <!-- /#wrapper -->

@@include('includes/footer.html')
</body>
<script type="text/javascript" data-main="js/main" src="js/require.js"></script>
</html>
